{% load static %}
{% load i18n %}
{% load mainapp_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="/media/1.png" itemprop="image">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}?v=5" crossorigin="anonymous">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/slick/slick.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
    <script src="{% static '/js/sweetalert.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
<header class="container">
    {% block header %}
        {% include "mainapp/header.html" %}
    {% endblock %}
</header>
{% tag_breadcrumbs request as breadcrumbs %}
{% if breadcrumbs %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
                        {% block breadcrumbs %}
                            {% for bread in breadcrumbs %}
                                {% if forloop.last %}
                                    <li class="breadcrumb-item active">
                                        {{ bread.title }}
                                    </li>
                                {% else %}
                                    <li class="breadcrumb-item active">
                                        <a href="{{ bread.link }}">{{ bread.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="main-content">
    {% block body %}{% endblock %}
</div>
</body>
<footer class="footer container">
    {% block footer %}
        <div class="container">
            <span class="text-muted">© 2018-2021 Pigeon Auction</span>
            <a class="float-right" href="https://www.youtube.com/channel/UCjXVMCx-GgVxdICPbg-L-Cw?view_as=subscriber" target="_blank"><img class="icon-youtube" src="/media/icons/yotube.png"
                                                                                                                                           alt=""></a>
        </div>
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}" crossorigin="anonymous">
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script src="{% static "/js_helper.js" %}?v=4" crossorigin="anonymous"></script>
    {% endblock %}
</footer>
</html>