.block-forum {
  .forum-categories {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid;

    .forum-category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #eaedf4;
      border: 1px solid white;

      &:first-child {
        & > * {
          color: #a4c4cf !important;
        }

        background: linear-gradient(#00496a, #0A246A, #00496a);
      }

      & > * {
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding: 10px 0;
        color: #006699;
      }

      .fa-file-alt {
        flex-basis: 5%;
        text-align: center;
        line-height: 24px;
      }

      .name {
        flex-basis: 50%;
        padding-left: 10px;
      }

      .count-articles {
        flex-basis: 15%;
        text-align: center;
      }

      .date-last-post {
        flex-basis: 30%;
        text-align: center;
      }
    }
  }
}

.block-forum-category {
  .forum-articles {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid;

    .forum-article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #eaedf4;
      border: 1px solid white;

      &:first-child {
        & > * {
          color: #a4c4cf !important;
        }

        background: linear-gradient(#00496a, #0A246A, #00496a);
      }

      & > * {
        border-left: 1px solid white;
        border-right: 1px solid white;
        padding: 10px 0;
        color: #006699;
      }

      .fa-file-alt {
        flex-basis: 5%;
        text-align: center;
        line-height: 24px;
      }

      .name {
        flex-basis: 35%;
        padding-left: 10px;
      }


      .author {
        flex-basis: 15%;
        padding-left: 10px;
      }

      .count-answers {
        flex-basis: 15%;
        text-align: center;
      }

      .date-last-post {
        flex-basis: 30%;
        text-align: center;
      }
    }
  }

  .article-add-form {
    .article-name {
      font-size: 18px;
      font-weight: bold;
    }

    .article-description {
      font-weight: 600;
    }
  }
}

.block-article {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #ffffff;
  padding: 10px;
  background: #eaedf4;

  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: self-start;

    &:first-child {
      background: linear-gradient(#00496a, #0A246A, #00496a);

      color: #a4c4cf !important;

      .author-title {
        padding: 10px 0;
        border-left: 1px solid white;
        border-right: 1px solid white;
      }

      .message-title {
        padding: 10px 0 10px 10px;
        border-left: 1px solid white;
        border-right: 1px solid white;
      }
    }

    .left {
      flex-basis: 15%;
      text-align: center;


      .author {
        font-weight: 700;
      }

      .date-add {
        font-size: 12px;
        font-weight: 600;
      }
    }

    .right {
      padding-left: 10px;
      text-align: left;
      flex-basis: 85%;
      border-left: 2px solid white;

      .message {

      }
    }
  }

  .comments {
    .on-comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #0000000f;
      border-radius: 3px;
      padding: unset;
      margin-top: 20px;
      margin-bottom: 10px;

      .left {
        align-self: flex-start;
        flex-basis: 15%;
        padding-top: 5px;
        padding-left: 10px;
      }

      .content {
        flex-basis: 85%;
        border-left: 2px solid white;
        padding-left: 10px;
      }
    }
  }
}