{% load i18n %}
<div class="block-contact-form">
    <div class="container">
        <div class="front side">
            <div class="content">
                <h1>{% trans 'title_text_main_page' %}</h1>
{#                <p>{% trans 'text_main_page' %}</p>#}
            </div>
        </div>
        <div class="back side">
            <div class="content">
                <h1>{% trans 'title_contact_form' %}</h1>
                <form id="feedbackForm" action="{% url 'success' %}">
                    <label>{% trans 'name' %} :</label>
                    <input type="text" id="cont_name" placeholder="{% trans 'name' %}">
                    <label>{% trans 'e_mail' %} :</label>
                    <input type="text" id="cont_email" placeholder="{% trans 'e_mail' %}">
                    <label>{% trans 'phone' %} :</label>
                    <input type="text" id="cont_phone" placeholder="{% trans 'phone' %}">
                    <label>{% trans 'comment' %} :</label>
                    <textarea id="cont_comment" placeholder="{% trans 'comment' %}"></textarea>
                    <input type="submit" value="{% trans 'send' %}">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let form = $('#feedbackForm');
        form.on('submit', function (e) {
            e.preventDefault();
            let c_name = $('#cont_name').val();
            let c_email = $('#cont_email').val();
            let c_phone = $('#cont_phone').val();
            let c_comment = $('#cont_comment').val();
            $("#feedbackForm div.error-message").remove();
            $("#feedbackForm .error-field").removeClass("error-field");
            sendMail(this.action, c_name, c_phone, c_email, c_comment);
        });

        function sendMail(url, name, email, phone, comment) {
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    'name': name,
                    'email': email,
                    'phone': phone,
                    'comment': comment,
                    'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                },
                success: function (data) {
                    if (data['success'] === true) {
                        swal({
                            title: "{% trans 'send_form_success_title' %}",
                            text: "{% trans 'send_form_success_message' %}",
                            icon: "success",
                            button: "{% trans "Ok" %}",
                        });
                    }
                    if (data['success'] === false) {
                        swal({
                            title: "{% trans 'send_form_error_title' %}",
                            text: "{% trans 'send_form_error_message' %}",
                            icon: "error",
                            button: "{% trans "Ok" %}",
                        }).then(() => {
                            for (let error of data['error']) {
                                for (let key in error) {
                                    let field = $('#cont_' + key);
                                    field.attr('placeholder', error[key])
                                    field.addClass('error-field');
                                    //field.after("<div class='text-danger error-message'>" + error[key] + "</div>");
                                }
                            }
                        });
                    }
                }
            })
        }
    });
</script>