<div class="slider-youtube">
    {% for slide in slids %}
        {{ slide.video_html|safe }}
    {% endfor %}
</div>
<script>
    $('.slider-youtube').slick({
        arrows: true,
        prevArrow: "<i class='fas fa-angle-left arrow-left'></i>",
        nextArrow: "<i class='fas fa-angle-right arrow-right'></i>"
    });
</script>