{% extends 'wraper.html' %}
{% load i18n %}
{% block body %}
    <div class="container block-forum">
        <div class="row">
            <div class="col-3">
                <div class="list-users-title">{% trans "List Users" %}</div>
                <div class="users">
                    {% for usr in users %}
                        <div class="user">
                            <i class="fas fa-circle {% if usr.online %}online{% else %}offline{% endif %}"></i>
                            <div class="owner {% if usr.user_fk.id == user.id %}you{% endif %}">{% if usr.user_fk.id == user.id %}{% trans "You" %}{% else %}{{ usr.user_fk.username }}{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="forum-categories">
                    <div class="forum-category">
                            <i class="far fa-file-alt" style="visibility: hidden"></i>
                            <div class="name">{% trans "Title" %}</div>
                            <div class="count-articles">{% trans "Count articles" %}</div>
                            <div class="date-last-post">{% trans "Date last post" %}</div>
                    </div>
                    {% for category in categories %}
                        <div class="forum-category">
                            {% comment %}
                        <img src="{% if not category.image %}/media/no-image.png{% else %}{{ category.image.url }}{% endif %}"  alt="{{ category.language.name }}">
                        {{ category.language.description|safe }}
                    {% endcomment %}
                            <i class="far fa-file-alt"></i>
                            <a class="name" href="{{ category.get_absolute_url }}">{{ category.language.name }} </a>
                            <div class="count-articles">{{ category.count_articles }}</div>
                            <div class="date-last-post">{{ category.date_last_article }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}