{% extends 'wraper.html' %}
{% load static %}
{% load i18n %}
{% block body %}
    {#    {% for user1 in users %}#}
    {#        {{ user1.user_fk.email }}#}
    {#        {{ user1.online }}#}
    {#        {{ user1.last_seen }}#}
    {##}
    {#        <br>#}
    {#    {% endfor %}#}
    <div class="container">
        <div class="block-article">
            <div class="article-info">
                <div class="left author-title">{% trans "Author" %}</div>
                <div class="right message-title">{% trans "Message" %}</div>
            </div>
            <div class="article-info">
                <div class="block-info left">
                    <div class="author">{{ forum_article.forum_profile_fk.user_fk.username }}</div>
                    <div class="date-add">{{ forum_article.added_date|date:"Y-m-d H:i" }}</div>
                </div>
                <div class="description right">
                    <div class="message">
                        {{ forum_article.description|safe }}
                    </div>
                </div>
            </div>
            <div class="comments">
                {% for comment in forum_article.comment_set.all %}
                    <div class="on-comment">
                        <div class="left">
                            <i class="fas fa-circle {% if comment.forum_profile_fk.online %}online{% else %}offline{% endif %}"></i>
                            <div class="owner {% if comment.forum_profile_fk.user_fk.id == user.id %}you{% endif %}">
                                {% if comment.forum_profile_fk.user_fk.id == user.id %}{% trans "You" %}{% else %}{{ comment.forum_profile_fk.user_fk.username }}{% endif %}
                            </div>
                        </div>
                        <div class="content">{{ comment.content|safe }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="form-create">
                {% if user.is_authenticated %}
                    <textarea id="create-comment" name="create-comment" class="create-comment django-ckeditor-widget" data-type="ckeditortype"></textarea>
                    <div class="btn-container">
                        <button id="button-create-comment" data-article_id="{{ forum_article.id }}" data-url="{% url "create_comment" %}"
                                class="btn btn-info button-create-comment">{% trans "send" %}</button>
                    </div>
                {% else %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}