{% extends 'wraper.html' %}
{% load static %}
{% load i18n %}
{% block body %}
    {% comment %}
    {{ categories }}
    {% endcomment %}
    <div class="container block-forum-category">
        <div class="row">
            <div class="col-3">
                <div class="list-users-title">{% trans "List Users" %}</div>
                <div class="users">
                    {% for usr in users %}
                        <div class="user">
                            <i class="fas fa-circle {% if usr.online %}online{% else %}offline{% endif %}"></i>
                            <div class="owner {% if usr.user_fk.id == user.id %}you{% endif %}">{% if usr.user_fk.id == user.id %}{% trans "You" %}{% else %}{{ usr.user_fk.username }}{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="forum-articles">
                    <div class="forum-article">
                        <i class="far fa-file-alt" style="visibility: hidden"></i>
                        <div class="name">{% trans "Title" %}</div>
                        <div class="author">{% trans "Author" %}</div>
                        <div class="count-answers">{% trans "Count answers" %}</div>
                        <div class="date-last-post">{% trans "Date last answer" %}</div>
                    </div>
                    {% for article in forum_articles %}
                        <div class="forum-article">
                            <i class="far fa-file-alt"></i>
                            <a class="name" href="{{ article.get_absolute_url }}">{{ article.name }}</a>
                            <div class="author">{{ article.author }}</div>
                            <div class="count-answers">{{ article.count_answers }}</div>
                            <div class="date-last-post">{{ article.date_last_answer }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <p class="text-right">
                        <button class="btn btn-primary mt-4 mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            {% trans "Add topic" %}
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <div class="article-add-form">
                                <label for="article-name">{% trans "Topic name" %}:</label>
                                <input id="article-name" class="form-control mb-1" type="text" value=""/>

                                <label for="article-categories ">{% trans "Category" %}:</label>
                                <select id="article-categories" class="form-control mb-1 article-categories">
                                    {% for f_cat in categories %}
                                        <option value="{{ f_cat.id }}" {% if f_cat.id == forum_category.id %}selected{% endif %}>{{ f_cat.language.name }}</option>
                                    {% endfor %}
                                </select>

                                <label for="article-description">{% trans "Topic description" %}:</label>
                                <textarea id="article-description" name="article-description" class="article-description django-ckeditor-widget" data-type="ckeditortype"></textarea>
                                <p class="text-right mt-2">
                                    <button id="forum-article-add" data-url="{% url "create_forum_article" %}" class="btn btn-info forum-article-add">{% trans 'Add' %}</button>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}