header {

  .navbar-toggler {
    display: none !important; //Для того щоб забрати меню випадаюче
  }

  nav.navbar {
    padding: 1.5rem 1rem;
  }
}

.main-menu {
  // display: flex !important; //Для того щоб забрати меню випадаюче
  // flex-direction: row; //Для того щоб забрати меню випадаюче
  // flex-wrap: wrap; //Для того щоб забрати меню випадаюче
  form {
    .relative {
      position: relative;

      &:hover {
        .search-label {
          width: 200px;
          padding: 5px 0;
          border: 2px solid #cccccc;
        }
      }

      .search-label {
        border-radius: 30px;
        width: 0;
        padding: 5px 0;
        margin: 0;
        border: none;
        transition: 300ms;
      }

      .search-button {
        padding: 10px 10px;
        position: absolute;
        top: 1px;
        right: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        transition: 300ms;

        &:hover {
          transform: scale(1.3);
        }
      }

    }
  }

  ul {
    display: flex; //Для того щоб забрати меню випадаюче
    flex-direction: row; //Для того щоб забрати меню випадаюче
    border-radius: 16px;
    background: #f8f9fa;
    @media (min-width: 1200px) {
      max-width: 100%;
      justify-content: center;
    }
    @media (max-width: 1199px) {
      overflow-y: auto; //Для того щоб забрати меню випадаюче
    }
    max-width: calc(100vw - 30px); //Для того щоб забрати меню випадаюче
    margin-right: 20px; //Для того щоб забрати меню випадаюче

    li {
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.3s;
      @media (max-width: 992px) {
        margin-left: 12px; //Для того щоб забрати меню випадаюче
      }

      .dropdown-item {
        color: #000000;

        &:hover {
          background: #e67e22;
          border-radius: 16px;
          color: #efefef !important;
        }
      }

      a.nav-link {
        white-space: nowrap; //Для того щоб забрати меню випадаюче
      }

      &:hover {
        background: #e67e22;
        border-radius: 16px;

        > a {
          color: #efefef !important;
        }
      }


    }
  }

}

.add-auction-lot {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
}

.add-lot-modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  overflow: auto;

  .close-lot-modal {
    text-align: right;
    cursor: pointer;

    .fa-times {
      &:hover {
        color: #838383;
      }

      font-size: 30px;
      margin-right: 20px;
      margin-top: 10px;
    }
  }

  form {
    .row {
      padding: 0 5px;
    }

    .attributes-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;

      .group {
        flex-basis: 30%;
        padding: 0 5px;

        &:last-child {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;

          #list_added_attributes_header {
            flex-basis: 100%;
          }

          .list_added_attributes {
            flex-grow: 1;
            border: 1px solid #111111;
            border-radius: 5px;
            padding: 10px;

            .product_attributes {
              .delete-attribute {
                float: right;
              }
            }
          }

          .add_attribute {
            flex-basis: auto;
            padding: 0 5px;

            .fa-plus {
              cursor: pointer;
              font-size: 40px;
              color: #003800;

              &:hover {
                color: #00a600;
              }
            }
          }
        }


      }
    }

    #myTab {
      padding: 0 5px;
    }

    #myTabContent {
      padding: 0 5px;
    }

    #drop-area {
      padding: 0 5px;

      p {

      }

      #gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        div {
          flex-basis: calc(100% / 5);

          img {
            padding: 5px;
            height: 120px;
            width: 100%;
            object-fit: cover;
          }
        }

      }
    }
  }
}

.new-header {
  .language-selector.dropdown.show {
    .dropdown-menu.show{
      left: -90px!important;
    }
  }
  background: #ebebeb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //filter: grayscale(100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .block-image-header {
    flex-basis: 33%;
    @media (max-width: 1110px) {
      flex-basis: 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: 100%;
      max-height: 150px;
      object-fit: contain;
      padding: 10px;
    }
  }

  .block-info-header {
    flex-basis: 67%;
    align-self: start;
    @media (max-width: 1110px) {
      flex-basis: 100%;
    }

    form {
      @media (max-width: 1110px) {
        justify-content: center;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .form-group {
        display: flex;
        align-items: center;
        justify-content: start;

        label {
          margin: unset;
          background: #0d95e8;
          border-radius: 10px 0 0 10px;

          i.fa {
            width: 50px;
            padding: 9px 0;
            font-size: 20px;

          }
        }

        input {
          border-radius: 0 10px 10px 0;
          margin-right: 5px;
          width: 100px;
          max-width: 100%;
        }
      }

      .btn-group {
        //width: 135px;
        flex-basis: 135px;

        button {
          height: min-content;
        }
      }
    }

    .group-buttons-header {
      text-align: right;
      padding-right: 10px;

      a {

      }
    }
  }

  .new-menu-header {
    flex-basis: 100%;
    padding: 5px 10px;
    background: #204a97;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > ul {
      @media (max-width: 767px) {
        font-size: 14px;
      }
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;

      & > li {
        margin-right: 10px;

        & > a {
          color: white;
          padding: 10px 5px;

          &:hover {
            background: white;
            color: #343434;
          }
        }
      }
    }

    .search-header {
      .relative {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }

      .search-label {
        max-width: 100%;
        width: 150px;
        border: unset;
        border-radius: 5px 0 0 5px;
        padding-left: 5px;
        //margin-right: 3px;
      }

      .search-button {
        border: unset;
        border-radius: 0 5px 5px 0;
        padding: 5px 5px;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          color: white;
          background: #0d95e8;
        }
      }
    }

    .language-selector {
      a {
        color: white;
      }
    }
  }
}