@charset "UTF-8";
header .navbar-toggler {
  display: none !important;
}
header nav.navbar {
  padding: 1.5rem 1rem;
}

.main-menu form .relative {
  position: relative;
}
.main-menu form .relative:hover .search-label {
  width: 200px;
  padding: 5px 0;
  border: 2px solid #cccccc;
}
.main-menu form .relative .search-label {
  border-radius: 30px;
  width: 0;
  padding: 5px 0;
  margin: 0;
  border: none;
  transition: 300ms;
}
.main-menu form .relative .search-button {
  padding: 10px 10px;
  position: absolute;
  top: 1px;
  right: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 300ms;
}
.main-menu form .relative .search-button:hover {
  transform: scale(1.3);
}
.main-menu ul {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background: #f8f9fa;
  max-width: calc(100vw - 30px);
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .main-menu ul {
    max-width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .main-menu ul {
    overflow-y: auto;
  }
}
.main-menu ul li {
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .main-menu ul li {
    margin-left: 12px;
  }
}
.main-menu ul li .dropdown-item {
  color: #000000;
}
.main-menu ul li .dropdown-item:hover {
  background: #e67e22;
  border-radius: 16px;
  color: #efefef !important;
}
.main-menu ul li a.nav-link {
  white-space: nowrap;
}
.main-menu ul li:hover {
  background: #e67e22;
  border-radius: 16px;
}
.main-menu ul li:hover > a {
  color: #efefef !important;
}

.add-auction-lot {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
}

.add-lot-modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  overflow: auto;
}
.add-lot-modal .close-lot-modal {
  text-align: right;
  cursor: pointer;
}
.add-lot-modal .close-lot-modal .fa-times {
  font-size: 30px;
  margin-right: 20px;
  margin-top: 10px;
}
.add-lot-modal .close-lot-modal .fa-times:hover {
  color: #838383;
}
.add-lot-modal form .row {
  padding: 0 5px;
}
.add-lot-modal form .attributes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.add-lot-modal form .attributes-wrapper .group {
  flex-basis: 30%;
  padding: 0 5px;
}
.add-lot-modal form .attributes-wrapper .group:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.add-lot-modal form .attributes-wrapper .group:last-child #list_added_attributes_header {
  flex-basis: 100%;
}
.add-lot-modal form .attributes-wrapper .group:last-child .list_added_attributes {
  flex-grow: 1;
  border: 1px solid #111111;
  border-radius: 5px;
  padding: 10px;
}
.add-lot-modal form .attributes-wrapper .group:last-child .list_added_attributes .product_attributes .delete-attribute {
  float: right;
}
.add-lot-modal form .attributes-wrapper .group:last-child .add_attribute {
  flex-basis: auto;
  padding: 0 5px;
}
.add-lot-modal form .attributes-wrapper .group:last-child .add_attribute .fa-plus {
  cursor: pointer;
  font-size: 40px;
  color: #003800;
}
.add-lot-modal form .attributes-wrapper .group:last-child .add_attribute .fa-plus:hover {
  color: #00a600;
}
.add-lot-modal form #myTab {
  padding: 0 5px;
}
.add-lot-modal form #myTabContent {
  padding: 0 5px;
}
.add-lot-modal form #drop-area {
  padding: 0 5px;
}
.add-lot-modal form #drop-area #gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.add-lot-modal form #drop-area #gallery div {
  flex-basis: calc(100% / 5);
}
.add-lot-modal form #drop-area #gallery div img {
  padding: 5px;
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.new-header {
  background: #ebebeb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.new-header .language-selector.dropdown.show .dropdown-menu.show {
  left: -90px !important;
}
.new-header .block-image-header {
  flex-basis: 33%;
}
@media (max-width: 1110px) {
  .new-header .block-image-header {
    flex-basis: 100%;
    text-align: center;
  }
}
.new-header .block-image-header img {
  max-width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: contain;
  padding: 10px;
}
.new-header .block-info-header {
  flex-basis: 67%;
  align-self: start;
}
@media (max-width: 1110px) {
  .new-header .block-info-header {
    flex-basis: 100%;
  }
}
.new-header .block-info-header form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (max-width: 1110px) {
  .new-header .block-info-header form {
    justify-content: center;
  }
}
.new-header .block-info-header form .form-group {
  display: flex;
  align-items: center;
  justify-content: start;
}
.new-header .block-info-header form .form-group label {
  margin: unset;
  background: #0d95e8;
  border-radius: 10px 0 0 10px;
}
.new-header .block-info-header form .form-group label i.fa {
  width: 50px;
  padding: 9px 0;
  font-size: 20px;
}
.new-header .block-info-header form .form-group input {
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
  width: 100px;
  max-width: 100%;
}
.new-header .block-info-header form .btn-group {
  flex-basis: 135px;
}
.new-header .block-info-header form .btn-group button {
  height: min-content;
}
.new-header .block-info-header .group-buttons-header {
  text-align: right;
  padding-right: 10px;
}
.new-header .new-menu-header {
  flex-basis: 100%;
  padding: 5px 10px;
  background: #204a97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.new-header .new-menu-header > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 767px) {
  .new-header .new-menu-header > ul {
    font-size: 14px;
  }
}
.new-header .new-menu-header > ul > li {
  margin-right: 10px;
}
.new-header .new-menu-header > ul > li > a {
  color: white;
  padding: 10px 5px;
}
.new-header .new-menu-header > ul > li > a:hover {
  background: white;
  color: #343434;
}
.new-header .new-menu-header .search-header .relative {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.new-header .new-menu-header .search-header .search-label {
  max-width: 100%;
  width: 150px;
  border: unset;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
}
.new-header .new-menu-header .search-header .search-button {
  border: unset;
  border-radius: 0 5px 5px 0;
  padding: 5px 5px;
  margin-right: 10px;
  cursor: pointer;
}
.new-header .new-menu-header .search-header .search-button:hover {
  color: white;
  background: #0d95e8;
}
.new-header .new-menu-header .language-selector a {
  color: white;
}

.block-forum .forum-categories {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid;
}
.block-forum .forum-categories .forum-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaedf4;
  border: 1px solid white;
}
.block-forum .forum-categories .forum-category:first-child {
  background: linear-gradient(#00496a, #0A246A, #00496a);
}
.block-forum .forum-categories .forum-category:first-child > * {
  color: #a4c4cf !important;
}
.block-forum .forum-categories .forum-category > * {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 10px 0;
  color: #006699;
}
.block-forum .forum-categories .forum-category .fa-file-alt {
  flex-basis: 5%;
  text-align: center;
  line-height: 24px;
}
.block-forum .forum-categories .forum-category .name {
  flex-basis: 50%;
  padding-left: 10px;
}
.block-forum .forum-categories .forum-category .count-articles {
  flex-basis: 15%;
  text-align: center;
}
.block-forum .forum-categories .forum-category .date-last-post {
  flex-basis: 30%;
  text-align: center;
}

.block-forum-category .forum-articles {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid;
}
.block-forum-category .forum-articles .forum-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaedf4;
  border: 1px solid white;
}
.block-forum-category .forum-articles .forum-article:first-child {
  background: linear-gradient(#00496a, #0A246A, #00496a);
}
.block-forum-category .forum-articles .forum-article:first-child > * {
  color: #a4c4cf !important;
}
.block-forum-category .forum-articles .forum-article > * {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 10px 0;
  color: #006699;
}
.block-forum-category .forum-articles .forum-article .fa-file-alt {
  flex-basis: 5%;
  text-align: center;
  line-height: 24px;
}
.block-forum-category .forum-articles .forum-article .name {
  flex-basis: 35%;
  padding-left: 10px;
}
.block-forum-category .forum-articles .forum-article .author {
  flex-basis: 15%;
  padding-left: 10px;
}
.block-forum-category .forum-articles .forum-article .count-answers {
  flex-basis: 15%;
  text-align: center;
}
.block-forum-category .forum-articles .forum-article .date-last-post {
  flex-basis: 30%;
  text-align: center;
}
.block-forum-category .article-add-form .article-name {
  font-size: 18px;
  font-weight: bold;
}
.block-forum-category .article-add-form .article-description {
  font-weight: 600;
}

.block-article {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #ffffff;
  padding: 10px;
  background: #eaedf4;
}
.block-article .article-info {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.block-article .article-info:first-child {
  background: linear-gradient(#00496a, #0A246A, #00496a);
  color: #a4c4cf !important;
}
.block-article .article-info:first-child .author-title {
  padding: 10px 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.block-article .article-info:first-child .message-title {
  padding: 10px 0 10px 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.block-article .article-info .left {
  flex-basis: 15%;
  text-align: center;
}
.block-article .article-info .left .author {
  font-weight: 700;
}
.block-article .article-info .left .date-add {
  font-size: 12px;
  font-weight: 600;
}
.block-article .article-info .right {
  padding-left: 10px;
  text-align: left;
  flex-basis: 85%;
  border-left: 2px solid white;
}
.block-article .comments .on-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0000000f;
  border-radius: 3px;
  padding: unset;
  margin-top: 20px;
  margin-bottom: 10px;
}
.block-article .comments .on-comment .left {
  align-self: flex-start;
  flex-basis: 15%;
  padding-top: 5px;
  padding-left: 10px;
}
.block-article .comments .on-comment .content {
  flex-basis: 85%;
  border-left: 2px solid white;
  padding-left: 10px;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}
a:focus {
  outline: unset;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.main-content {
  min-height: calc(100vh - 180px);
  display: block;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.featurette-image {
  cursor: pointer;
}

.image {
  margin: 30px;
  float: left;
  cursor: pointer;
  max-height: 100px;
}

.image-modal {
  display: block;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  pointer-events: none;
}
.image-modal:after {
  content: "";
  position: relative;
  top: -45vh;
  right: 25px;
  z-index: 6;
  pointer-events: all;
}
.image-modal img {
  z-index: 5;
}

.close {
  cursor: pointer;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  z-index: 2;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.login-form {
  text-align: left;
}

.login-form > p > label {
  font-size: 16px;
  color: #006c96;
  width: 120px;
}

.login-form > p > input, .login-form > p > textarea {
  border: #00FF00 1px solid;
  width: 200px;
}

.language-selector {
  position: relative;
  padding-right: 25px;
}
.language-selector:after {
  content: "⯆";
  color: #2e6e74;
  position: absolute;
  top: 0;
  right: 10px;
}

/*CATEGORY START*/
.product-card .card-body .card-text {
  padding: 0;
  margin: 0;
}
.product-card .card-body .bloc-time-and-price {
  min-height: 80px;
  align-items: center;
}
.product-card .card-body .bloc-time-and-price .cart-price {
  flex-basis: 30%;
}
.product-card .card-body .bloc-time-and-price .cart-time {
  font-size: 14px;
  text-align: right;
  flex-basis: 70%;
}

/*CATEGORY END*/
/*MAIN_PAGE START*/
.last-lots {
  padding: 0 25px;
}
.last-lots .slick-arrow:before {
  color: #a4a4a4;
}
.last-lots .slick-arrow.slick-prev {
  left: 0;
}
.last-lots .slick-arrow.slick-next {
  right: 0;
}
.last-lots .last-lot {
  margin-left: 5px;
}
.last-lots .last-lot .last-lot-block {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.last-lots .last-lot .last-lot-block .image-container {
  padding-right: 4px;
  flex-basis: 170px;
  height: 100px;
}
.last-lots .last-lot .last-lot-block .image-container .image-last-lot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-lots .last-lot .last-lot-block .info-container {
  flex-basis: 105px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.last-lots .last-lot .last-lot-block .info-container .name {
  flex-basis: 105px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.last-lots .last-lot .last-lot-block .info-container .add-date {
  font-weight: 700;
  font-size: 10px;
}
.last-lots .last-lot .last-lot-block .price-container {
  flex-basis: 70px;
}
.last-lots .last-lot .last-lot-block .price-container .last-price {
  text-align: right;
  padding-right: 2px;
}
.last-lots .last-lot .last-lot-block .action-container {
  background: #adadad;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  flex-basis: 55px;
}
.last-lots .last-lot .last-lot-block .action-container .fa {
  font-size: 35px;
  color: white;
}

.block-contact-form {
  /* my button style  */
}
.block-contact-form * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block-contact-form body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  background-color: #111;
}
.block-contact-form .container {
  max-width: 700px;
  min-width: 280px;
  min-height: 470px;
  border-radius: 20px;
  position: relative;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  transform-style: preserve-3d;
  margin-left: auto;
  margin-right: auto;
}
.block-contact-form .side {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 20px;
}
.block-contact-form .back.side h1 {
  font-size: 18px;
}
.block-contact-form .front.side .content {
  display: flex;
  height: 100%;
  align-items: center;
}
.block-contact-form .content {
  transform: translatez(70px) scale(0.8);
  line-height: 1.5em;
}
.block-contact-form .content h1 {
  position: relative;
}
.block-contact-form .content p {
  margin-top: 50px;
  font-size: 20px;
  line-height: 2em;
}
.block-contact-form .content h1:before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 3px;
  background-color: #3e3;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
}
.block-contact-form .front {
  z-index: 2;
  background-size: 100vh;
  background-size: cover;
  background-image: url(/media/icons/Dark-Elegant-Wallpaper.jpg);
}
.block-contact-form .back {
  background-color: #333;
  transform: rotateY(180deg);
  z-index: 0;
  padding-top: 10px;
  background-image: url(/media/icons/Dark-Elegant-Wallpaper2.jpg);
}
.block-contact-form .container:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.block-contact-form form {
  text-align: left;
}
.block-contact-form .back h1 {
  margin: 0;
}
.block-contact-form form label,
.block-contact-form form input {
  display: block;
}
.block-contact-form form input,
.block-contact-form form textarea {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #444;
  padding: 5px;
  width: 100%;
  color: #fff;
}
.block-contact-form form label {
  margin: 12px 0;
}
.block-contact-form form input[type=submit] {
  display: block;
  width: auto;
  margin: 10px auto;
  padding: 5px 10px;
  border: 3px solid #555;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.block-contact-form .white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: fixed;
  left: 15px;
  bottom: 15px;
}
.block-contact-form .white-mode:hover {
  background-color: #fff;
  color: #122;
}
.block-contact-form .error-field {
  border: 1px solid red;
}

.slider-youtube .slick-arrow {
  position: absolute;
  top: calc(50% - 20px);
  z-index: 1;
  height: 20px;
  color: #cecece;
  font-size: 50px;
  cursor: pointer;
  transition: 300ms;
}
.slider-youtube .slick-arrow:hover {
  transform: scale(1.4);
}
.slider-youtube .arrow-left.slick-arrow {
  left: 15px;
}
.slider-youtube .arrow-right.slick-arrow {
  right: 15px;
}
.slider-youtube iframe {
  width: 300px;
  height: 300px;
}

.icon-youtube {
  width: 70%;
  height: 70%;
  max-width: 162px;
  max-height: 121px;
  margin-left: 10px;
  transition: 300ms;
}
.icon-youtube:hover {
  transform: scale(1.1);
}

.container-last-bets .title-last-bets {
  font-size: 26px;
}
.container-last-bets .block-last-bets {
  max-height: 250px;
  overflow-y: auto;
  padding: 15px 20px;
  box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.75);
  background: #f5f5f5;
}
.container-last-bets .block-last-bets .last-bet .price {
  font-size: 15px;
}

.title-categories-main-page {
  font-size: 26px;
}

.title-last-articles {
  font-size: 26px;
}

.account-button-selector {
  margin: 0 10px;
}

.main-slider-category .slick-next.slick-arrow, .main-slider-category .slick-prev.slick-arrow {
  background-color: #ffffff;
}
@media (max-width: 450px) {
  .main-slider-category .slick-next.slick-arrow, .main-slider-category .slick-prev.slick-arrow {
    display: none !important;
  }
}

.main-slider-category .slick-prev:before, .main-slider-category .slick-next:before {
  color: #6c6c6c;
}

.article-widget-cart img {
  box-shadow: 12px -9px 24px -13px #7a7a7a;
}

/*MAIN_PAGE END*/
/*BLOG START*/
.blog {
  min-height: calc(100vh - 200px);
}

.article-image {
  width: 64px;
  height: 64px;
  max-height: 150px;
  object-fit: cover;
}

.article-name {
  color: #777777;
}

.article-short-description {
  color: #878787;
}

.article-date {
  color: #878787;
}

.blog-menu-category {
  border-left: 1px solid;
  height: max-content;
}

.one-item-liter {
  text-align: left;
  border: 1px solid #67413e;
  font-size: 14pt;
  padding: 5px 0 3px 5px;
  line-height: 100%;
  background: #5b5747;
  color: #f1ebdd;
  font-weight: 300;
  margin-bottom: 10px;
}

.items-articles {
  display: flex;
  flex-wrap: wrap;
}

.one-item-article {
  flex-basis: calc(100% / 3);
}

.letters_index {
  border: 1px solid #5b5747;
  height: 25px;
  display: table;
  margin: 30px auto 15px;
  background: #5b5747;
}
.letters_index .letter {
  width: 25px;
  text-align: center;
  float: left;
  font-size: 14pt;
  padding: 5px 0;
  color: #999;
}
.letters_index .letter a {
  color: #f1ebdd;
}

/*BLOG END*/
/*PRODUCT START*/
.PDF {
  padding: 10px 20px 10px 20px;
  background: red;
  color: white;
}

.product-filter .filter-attr .filter-name {
  font-weight: bold;
  font-size: 18px;
}
.product-filter .filter-attr .filter-value > span {
  display: table-cell;
  border-bottom: 1px solid #EEE;
  vertical-align: middle;
  padding: 4px 0;
  height: 20px;
  width: 100%;
}
.product-filter .filter-attr .filter-value > span label {
  display: block;
  padding-right: 3px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
  max-width: 100%;
}
.product-filter .filter-attr .filter-value .filter-span-1 {
  width: 12px;
  padding-right: 8px;
}
.product-filter .filter-attr .filter-value .filter-span-3 span {
  float: right;
  background: #fbc02d !important;
  color: #fff;
  line-height: 20px;
  padding: 2px 8px 1px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.product-filter .filter-attr .filter-values-box {
  display: table;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .product-filter {
    max-height: 200px;
    overflow-y: auto;
  }
}

.countbox {
  max-width: 350px;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.timer-sek {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  padding: 1.5rem 0;
  border-radius: 20px 0;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  position: relative;
}

.blog-product-image {
  z-index: 1;
  transition: all 500ms;
}

.blog-product-image:hover {
  z-index: 2;
  transform: scale(1.2);
}

.product-images {
  width: 100%;
  height: 100px;
  object-fit: cover;
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.49);
}

.bets-input {
  width: 150px;
}

.bets-all {
  width: 100%;
  height: 126px;
  overflow-y: auto;
}

.bet-one {
  width: 100%;
}

.bet-name-user {
  display: inline-block;
  width: 40%;
}

.bet-price {
  display: inline-block;
  width: 28%;
}

.bet-date {
  display: inline-block;
  width: 29%;
}

.bet-color-1 {
  background: #acacac;
}

.bet-color-2 {
  background: #dedede;
}

/*PRODUCT END*/
/* FORUM */
.block-forum .list-users-title, .block-forum-category .list-users-title {
  font-size: 20px;
  font-weight: 700;
  background: radial-gradient(#d0d0d0, #0e4dff14);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
}
.block-forum .users, .block-forum-category .users {
  max-height: 400px;
  overflow-y: auto;
}
.block-forum .users .user .online, .block-forum-category .users .user .online {
  font-size: 12px;
  color: #00fe10;
}
.block-forum .users .user .offline, .block-forum-category .users .user .offline {
  font-size: 12px;
  color: #ff0000;
}
.block-forum .users .user .fa-circle, .block-forum-category .users .user .fa-circle {
  display: inline-block;
}
.block-forum .users .user .owner, .block-forum-category .users .user .owner {
  display: inline-block;
  font-weight: 700;
}
.block-forum .users .user .owner.you, .block-forum-category .users .user .owner.you {
  color: #002dff;
}

.block-article .article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block-article .article-info .block-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.block-article .on-comment {
  background: #0000000f;
  border-radius: 20px;
  padding: 15px 20px 1px 20px;
  margin-bottom: 10px;
}
.block-article .on-comment .online {
  font-size: 12px;
  color: #00fe10;
}
.block-article .on-comment .offline {
  font-size: 12px;
  color: #ff0000;
}
.block-article .on-comment .fa-circle {
  display: inline-block;
}
.block-article .on-comment .owner {
  display: inline-block;
  font-weight: 700;
}
.block-article .on-comment .owner.you {
  color: #002dff;
}
.block-article .form-create .btn-container {
  text-align: right;
}
.block-article .form-create .btn-container .button-create-comment {
  margin: 15px 0;
}

/* FORUM END*/

/*# sourceMappingURL=style.css.map */
