@import "header";
@import "../../forum/static/forum";

img {
  max-width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: unset;
  }
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.main-content {
  min-height: calc(100vh - 180px);
  display: block;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.featurette-image {
  cursor: pointer;
}

.image {
  margin: 30px;
  float: left;
  cursor: pointer;
  max-height: 100px;
}

.image-modal {
  display: block;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  pointer-events: none;

  &:after {
    content: '';
    position: relative;
    top: -45vh;
    right: 25px;
    z-index: 6;
    pointer-events: all;
  }

  img {
    z-index: 5;
  }
}

.close {
  cursor: pointer;
}

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  z-index: 2;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
}

.login-form {
  text-align: left;
}

.login-form > p > label {
  font-size: 16px;
  color: #006c96;
  width: 120px;
}

.login-form > p > input, .login-form > p > textarea {
  border: #00FF00 1px solid;
  width: 200px;
}

.login-form > p > input[type=checkbox] {

}


.language-selector {
  position: relative;
  padding-right: 25px;

  &:after {
    content: '⯆';
    color: #2e6e74;
    position: absolute;
    top: 0;
    right: 10px;
  }
}

/*CATEGORY START*/
.product-card {
  .card-body {
    .card-text {
      padding: 0;
      margin: 0;
    }

    .bloc-time-and-price {

      min-height: 80px;
      align-items: center;

      .cart-price {
        flex-basis: 30%;
      }

      .cart-time {
        font-size: 14px;
        text-align: right;
        flex-basis: 70%;
      }
    }
  }
}

/*CATEGORY END*/

/*MAIN_PAGE START*/

.last-lots {
  padding: 0 25px;

  .slick-arrow {
    &:before {
      color: #a4a4a4;
    }

    &.slick-prev {
      left: 0;
    }

    &.slick-next {
      right: 0;
    }

  }

  .last-lot {
    margin-left: 5px;

    .last-lot-block {
      width: 400px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .image-container {
        padding-right: 4px;
        flex-basis: 170px;
        height: 100px;

        .image-last-lot {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info-container {
        flex-basis: 105px;
        text-overflow: ellipsis;
        overflow: hidden;

        .name {
          flex-basis: 105px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .add-date {
          font-weight: 700;
          font-size: 10px;
        }
      }

      .price-container {
        flex-basis: 70px;

        .last-price {
          text-align: right;
          padding-right: 2px;
        }
      }

      .action-container {
        background: #adadad;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        flex-basis: 55px;


        .fa {
          font-size: 35px;
          color: white;
        }
      }
    }
  }
}

.block-contact-form {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background-color: #111;
  }

  .container {
    max-width: 700px;
    min-width: 280px;
    min-height: 470px;
    border-radius: 20px;
    position: relative;
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
  }

  .side {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;
  }

  .back.side {
    h1 {
      font-size: 18px;
    }
  }

  .front.side {
    .content {
      display: flex;
      height: 100%;
      align-items: center;

    }
  }

  .content {
    transform: translatez(70px) scale(0.8);
    line-height: 1.5em;
  }

  .content h1 {
    position: relative;
  }

  .content p {
    margin-top: 50px;
    font-size: 20px;
    line-height: 2em;
  }

  .content h1:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background-color: #3e3;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .front {
    z-index: 2;
    background-size: 100vh;
    background-size: cover;
    background-image: url(/media/icons/Dark-Elegant-Wallpaper.jpg);
  }

  .back {
    background-color: #333;
    transform: rotateY(180deg);
    z-index: 0;
    padding-top: 10px;
    background-image: url(/media/icons/Dark-Elegant-Wallpaper2.jpg);
  }

  .container:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  form {
    text-align: left;
  }

  .back h1 {
    margin: 0;
  }

  form label,
  form input {
    display: block;
  }

  form input,
  form textarea {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444;
    padding: 5px;
    width: 100%;
    color: #fff;
  }

  form label {
    margin: 12px 0;
  }

  form input[type="submit"] {
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 5px 10px;
    border: 3px solid #555;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }

  /* my button style  */
  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #fff;
    transition: 0.35s ease-in-out;
    position: fixed;
    left: 15px;
    bottom: 15px;
  }

  .white-mode:hover {
    background-color: #fff;
    color: #122;
  }

  .error-field {
    border: 1px solid red;
  }
}

.slider-youtube {
  .slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 1;
    height: 20px;
    color: #cecece;
    font-size: 50px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      transform: scale(1.4);
    }
  }

  .arrow-left.slick-arrow {
    left: 15px;
  }

  .arrow-right.slick-arrow {
    right: 15px;
  }

  iframe {
    width: 300px;
    height: 300px;
  }
}

.icon-youtube {
  width: 70%;
  height: 70%;
  max-width: 162px;
  max-height: 121px;
  margin-left: 10px;
  transition: 300ms;

  &:hover {
    transform: scale(1.1);
  }
}

.container-last-bets {
  .title-last-bets {
    font-size: 26px;
  }

  .block-last-bets {
    max-height: 250px;
    overflow-y: auto;
    padding: 15px 20px;
    box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.75);
    background: #f5f5f5;

    .last-bet {
      .product-name {
        //text-transform: uppercase;
      }

      .price {
        font-size: 15px;
      }
    }
  }
}

.title-categories-main-page {
  font-size: 26px;
}

.title-last-articles {
  font-size: 26px;
}

.account-button-selector {
  margin: 0 10px;
}

.main-slider-category .slick-next.slick-arrow, .main-slider-category .slick-prev.slick-arrow {
  background-color: #ffffff;
  @media (max-width: 450px) {
    display: none !important;
  }
}

.main-slider-category .slick-prev:before, .main-slider-category .slick-next:before {
  color: #6c6c6c;
}

.article-widget-cart img {
  box-shadow: 12px -9px 24px -13px rgba(122, 122, 122, 1);
}

/*MAIN_PAGE END*/

/*BLOG START*/
.blog {
  min-height: calc(100vh - 200px);
}


.article-image {
  width: 64px;
  height: 64px;
  max-height: 150px;
  object-fit: cover;
}

.article-name {
  color: #777777;
}

.article-short-description {
  color: #878787;
}

.article-date {
  color: #878787;
}


.blog-menu-category {
  border-left: 1px solid;
  height: max-content
}


.one-item-liter {
  text-align: left;
  border: 1px solid #67413e;
  font-size: 14pt;
  padding: 5px 0 3px 5px;
  line-height: 100%;
  background: #5b5747;
  color: #f1ebdd;
  font-weight: 300;
  margin-bottom: 10px;
}

.items-articles {
  display: flex;
  flex-wrap: wrap;
}

.one-item-article {
  flex-basis: calc(100% / 3);
}

.letters_index {

  border: 1px solid #5b5747;
  height: 25px;
  display: table;
  margin: 30px auto 15px;
  background: #5b5747;

  .letter {
    width: 25px;
    text-align: center;
    float: left;
    font-size: 14pt;
    padding: 5px 0;
    color: #999;

    a {
      color: #f1ebdd;
    }
  }
}

/*BLOG END*/

/*PRODUCT START*/
.PDF {
  padding: 10px 20px 10px 20px;
  background: red;
  color: white;
}

//Filter
.product-filter {

  .filter-attr {
    .filter-name {
      font-weight: bold;
      font-size: 18px;
    }

    .filter-value {


      > span {
        display: table-cell;
        border-bottom: 1px solid #EEE;
        vertical-align: middle;
        padding: 4px 0;
        height: 20px;
        width: 100%;

        label {
          display: block;
          padding-right: 3px;
          margin: 0;
          cursor: pointer;
          font-weight: bold;
          max-width: 100%;
        }
      }

      .filter-span-1 {
        width: 12px;
        padding-right: 8px;
      }

      .filter-span-2 {

      }

      .filter-span-3 {
        span {
          float: right;
          background: #fbc02d !important;
          color: #fff;
          line-height: 20px;
          padding: 2px 8px 1px;
          border-radius: 5px;
          display: block;
          position: relative;
        }
      }
    }

    .filter-values-box {
      display: table;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    max-height: 200px;
    overflow-y: auto;
  }
}


.countbox {
  max-width: 350px;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
}

.timer-sek {
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  padding: 1.5rem 0;
  border-radius: 20px 0;
  width: 4rem;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
  position: relative;
}


.blog-product-image {
  z-index: 1;
  transition: all 500ms;
}

.blog-product-image:hover {
  z-index: 2;
  transform: scale(1.2);
}

.product-images {
  width: 100%;
  height: 100px;
  object-fit: cover;
  box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.49);
}

.bets-input {
  width: 150px;
}

.bets-all {
  width: 100%;
  height: 126px;
  overflow-y: auto;
}

.bet-one {
  width: 100%;
}

.bet-name-user {
  display: inline-block;
  width: 40%;
}

.bet-price {
  display: inline-block;
  width: 28%;
}

.bet-date {
  display: inline-block;
  width: 29%;
}

.bet-color-1 {
  background: #acacac;
}

.bet-color-2 {
  background: #dedede;
}

/*PRODUCT END*/

/* FORUM */
.block-forum {

}

.block-forum, .block-forum-category {
  .list-users-title {
    font-size: 20px;
    font-weight: 700;
    background: radial-gradient(#d0d0d0, #0e4dff14);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }

  .users {
    max-height: 400px;
    overflow-y: auto;

    .user {
      .online {
        font-size: 12px;
        color: #00fe10;
      }

      .offline {
        font-size: 12px;
        color: #ff0000;
      }

      .fa-circle {
        display: inline-block;
      }

      .owner {
        display: inline-block;
        font-weight: 700;

        &.you {
          color: #002dff;
        }
      }
    }
  }

}

.block-article {
  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .author {

      }

      .date-add {

      }
    }

    .description {

    }
  }

  .on-comment {
    background: #0000000f;
    border-radius: 20px;
    padding: 15px 20px 1px 20px;
    margin-bottom: 10px;

    .online {
      font-size: 12px;
      color: #00fe10;
    }

    .offline {
      font-size: 12px;
      color: #ff0000;
    }

    .fa-circle {
      display: inline-block;
    }

    .owner {
      display: inline-block;
      font-weight: 700;

      &.you {
        color: #002dff;
      }
    }
  }

  .form-create {
    .create-comment {

    }

    .btn-container {
      text-align: right;

      .button-create-comment {
        margin: 15px 0;
      }
    }
  }
}

/* FORUM END*/
