{% extends 'wraper.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 order-2 order-lg-1">
                <div class="text-center h5">{{ article.data.name }}</div>
                {{ article.data.description|safe }}
            </div>
            <div class="blog-menu-category col-12 col-lg-3 order-1 order-lg-2">
                {% include 'blog/categoties_menu.html' with category=category categories=categories %}
            </div>
        </div>
    </div>
{% endblock %}