{% extends 'wraper.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 order-2 order-lg-1">
                <div class="letters_index">
                    {% for grop in articles %}
                        <div class="letter"><a href="#{{ grop.key }}">{{ grop.key }}</a></div>
                    {% endfor %}
                </div>

                {% for grop in articles %}
                    <div class="one-item-liter" id="{{ grop.key }}">{{ grop.key }}</div>
                    <div class="row">
                        {% for article in grop.articles %}
                            <div class="col-lg-3 col-md-4 col-6"><a href="{{ article.link }}">{{ article.name }}</a></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>


            <div class="blog-menu-category col-12 col-lg-3 order-1 order-lg-2">
                {% include 'blog/categoties_menu.html' with category=category categories=categories %}
            </div>
        </div>
    </div>

{% endblock %}