{% extends 'wraper.html' %}
{% block body %}
    <div class="container blog">
        <div class="row">
            <div class="col-12 col-lg-9 order-2 order-lg-1">
                {% for article in articles %}
                    <a href="{{ article.data.link }}" class="media m-2">
                        <img class="align-self-center mr-3 article-image" src="{{ article.data.image }}"
                             alt="{{ article.data.name }}">
                        <div class="media-body">
                            <h5 class="mt-0 article-name">{{ article.data.name|truncatechars:70 }}</h5>
                            <p class="mb-0 text-justify article-short-description">{{ article.data.short_description|truncatechars:200 }}</p>
                            <p class="mt-0 mb-0 text-right article-date">{{ article.data.added_date|date:"d/m/Y" }}</p>
                        </div>
                    </a>

                {% endfor %}
            </div>
            <div class="blog-menu-category col-12 col-lg-3 order-1 order-lg-2">
                {% include 'blog/categoties_menu.html' with category=category categories=categories %}
            </div>
        </div>
    </div>
    {% include 'blog/pagination.html' with articles=articles %}
{% endblock %}