{% load i18n %}
{% load staticfiles %}
{% load blog_tags %}
<div id="blog" class="blog-widget">
    {% tag_last_articles limit=3 as last_articles %}
    <div class="container">
        <div class="blog-title-line">
            <div class="blog-title">У нас є що почитати</div>
            <div class="blog-read-more" href="#">Read more</div>
        </div>
        <div class="articles-wrapper row">
            {% for article in last_articles %}
                <div class="col-lg-4">
                    <div class="article-min">
                        <div class="thumbnail"><img src="{{ article.data.image }}" alt="{{ article.data.name }}"></div>
                        <div class="created-date">{{ article.data.name }}</div>
                        <div class="title">{{ article.data.name }}</div>
                        <a href="{{ article.data.link }}" class="read-more-btn">{% trans "Read more" %}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</div>
