{% load i18n %}
<ul class="nav nav-pills flex-column">
    <div class="text-center h5">{% trans "Categories" %}</div>
    {% for cat in categories %}
        <li class="nav-item">
            <a class="nav-link {% if category.data.pk == cat.data.pk %}active{% endif %}"
               href="{{ cat.data.link }}">{{ cat.data.name }}</a>
        </li>
    {% endfor %}
    <li class="nav-item">
        <a class="nav-link {% if request.path == "/blog_sorting/" %}active{% endif %}" href="{% url 'blog_sorting' %}" >
            Indeks Hodowcy
        </a>
    </li>
</ul>
