{% load i18n %}
{% if articles %}
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item  {% if not articles.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if articles.has_previous %}{{ request.path }}?page={{ articles.previous_page_number }}{% endif %}">{% trans "Previous" %}</a>
                </li>
                {% for i in "x"|rjust:articles.paginator.num_pages %}
                    <li class="page-item {% if forloop.counter == articles.number %} active {% endif %}"><a class="page-link"
                                                                                                            href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endfor %}
                <li class="page-item {% if not articles.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if articles.has_next %}{{ request.path }}?page={{ articles.next_page_number }}{% endif %}">{% trans "Next" %}</a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}