{% extends "wraper.html" %}
{% load i18n %}
{% load mainapp_tags %}
{% load orders_tags %}
{% block body %}
    {% tag_get_currency_pln as PLN %}
    <div class="container">
        <nav class="pt-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans "Home" %}</a>
                <a class="nav-item nav-link" id="nav-bets-tab" data-toggle="tab" href="#nav-bets" role="tab" aria-controls="nav-bets" aria-selected="false">{% trans "Moje zakłady" %}</a>
                <a class="nav-item nav-link" id="nav-bets-win-tab" data-toggle="tab" href="#nav-bets-win" role="tab" aria-controls="nav-bets-win"
                   aria-selected="false">{% trans "Moje zakłady wygrane" %}</a>
                <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false">{% trans "Orders" %}</a>
            </div>
        </nav>
        <div class="tab-content pt-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <i class="fas fa-user fa-4x"></i>
                    <div class="d-inline-block ml-3">
                        <div>
                            <span class="font-weight-bold">{% trans "User Name" %}: </span><label class="label label-info">{{ user.username }}</label>
                        </div>
                        <div>
                            <span class="font-weight-bold">{% trans "Email" %}: </span> <label class="label label-info">{{ user.email }}</label>
                        </div>
                        <div>
                            <span class="font-weight-bold">{% trans "Phone" %}: </span> <label class="label label-info">{{ profile.phone }}</label>
                        </div>
                        <div>
                            <span class="font-weight-bold">{% trans "First Name" %}: </span> <label class="label label-info">{{ user.first_name }}</label>
                        </div>
                        <div>
                            <span class="font-weight-bold">{% trans "Last Name" %}: </span> <label class="label label-info">{{ user.last_name }}</label>
                        </div>
                    </div>
                    <div class="d-inline-block ml-3">
                        <img width="100" height="100" style="width: inherit; height: 300px; object-fit: contain;" src="{{ profile.image.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-bets" role="tabpanel" aria-labelledby="nav-bets-tab">
                {% tag_user_bets user.pk as bets %}

                <h1 class="w-100">{% trans "Last Bets" %}</h1>
                {% if bets %}
                    <div class="row">
                        {% for bet in bets %}
                            <div class="col-12 col-lg-6">
                                <a href="{{ bet.data.product.link }}">{{ bet.data.product.name }}</a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="row no-gutters">
                                    <div class="col-5 col-lg-4">
                                        <div class="bet-price-account">
                                            <div class="d-inline">{{ bet.object.price }} <span class="bet-price-symbol-account">EUR</span></div>
                                            /
                                            <div class="d-inline">{{ bet.object.price|filter_convert_eur_to_pln }} <span class="bet-price-symbol-account">PLN</span></div>
                                        </div>
                                    </div>
                                    <div class="col-7 col-lg-8">
                                        <div class="bet-date float-right w-auto">{{ bet.object.added_date|date:"Y-m-d H:i:s" }}</div>
                                    </div>
                                </div>
                            </div>
                            <hr class="w-100">
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="h5">{% trans "No bets" %}</div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-bets-win" role="tabpanel" aria-labelledby="nav-bets-win-tab">
                {% tag_user_bets_win user.pk as bets_win %}
                <div class="w-100 h1">{% trans "Winning lots" %}</div>
                {% if bets_win %}
                    <div class="row">
                        {% for bet in bets_win %}
                            <div class="col-12 col-lg-5">
                                <a href="{{ bet.data.product.link }}">{{ bet.data.product.name }}</a>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="row no-gutters">
                                    <div class="col-3 col-lg-3">
                                        <div class="bet-price-account">
                                            <div class="d-inline">{{ bet.object.price }} <span class="bet-price-symbol-account">EUR</span></div>
                                            /
                                            <div class="d-inline">{{ bet.object.price|filter_convert_eur_to_pln }} <span class="bet-price-symbol-account">PLN</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-lg-7">
                                        <div class="bet-date float-right w-auto">{{ bet.object.added_date|date:"Y-m-d H:i:s" }}</div>
                                    </div>
                                    <div class="col-3 col-lg-2">
                                        {% if bet.data.payment %}
                                            <div class="btn btn-success w-100 ml-1 mr-1 p-0"><i class="fas fa-check"></i> {% trans "Paid" %}</div>
                                        {% else %}
                                            <a href="{% url 'orders:order_created' bet.object.price|filter_convert_eur_to_pln bet.data.product.pk %}" class="btn btn-secondary w-100 ml-1 mr-1 p-0"><i
                                                    class="fas fa-dollar-sign"></i>
                                                {% trans "To pay" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <hr class="w-100">
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="h5">{% trans "No bets won" %}</div>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
                {% tag_user_orders request.user.pk as orders %}
                <div class="w-100 h1">{% trans 'Orders' %}</div>
                {% if orders %}
                    {% for order in orders %}
                        <div class="row">
                            <div class="col-4">{{ order.object.product }}</div>
                            <div class="col-4">{{ order.object.price_PLN }} <span>PLN</span></div>
                            <div class="col-4">{{ order.object.added_date|date:"Y-m-d H:i:s" }}</div>
                        </div>
                        <hr class="w-100">
                    {% endfor %}
                {% else %}
                    <div class="h5">{% trans 'No orders' %}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
