{% extends "wraper.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wow fadeInUp contact-info" data-wow-delay="0.4s">
                         <div class="section-title">
                              <h2>KONTAKT</h2>
                              <p>
                                  Santander Bank Polska:<br> 43 1090 2226 0000 0001 3053 3448
{#                                Konto Walutowe<br>#}
{#                                BZWBK, numer konta<br>#}
{#                                67 1090 2226 0000 0001 4265 6464<br>#}
{#                                <br>#}
{#                                Konto bankowe PL<br>#}
{#                                BZWBK, numer konta<br>#}
{#                                98 1090 2226 0000 0001 4265 6391<br>#}
                              </p>
                         </div>

                         <p><i class="fas fa-map-marker"></i>  Poland </p>
                         <p><i class="fas fa-comment"></i> <a href="mailto:info@company.com">ipacom24@gmail.com</a></p>
                         <p><i class="fas fa-phone"></i> +48 602 706 686</p>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}