{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load products_tags %}
{% load staticfiles %}

{% csrf_token %}

{% if request.user.is_authenticated %}
    <div class="add-auction-lot btn btn-info" id="add_auction_lot">
        <i class="fa fa-plus"></i>
        {% trans 'add_auction_lot' %}
    </div>
{% endif %}


<div class="add-lot-modal">
    <div class="close-lot-modal"><i class="fa fa-times"></i></div>
    {% get_available_languages as lng %}
    {% tag_get_all_attributes as attrib %}
    <form action="{% url 'add_lot' %}" id="add_lot" data-languages="{{ lng }}" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="firs_price">{% trans 'firs_price' %}</label>
                    <input class="form-control" type="number" name="firs_price" id="firs_price" value="0">

                    <label for="time_start">{% trans 'time_start' %}</label>
                    <input class="form-control" type="datetime-local" name="time_start" id="time_start" value="0">

                    <label for="time_end">{% trans 'time_end' %}</label>
                    <input class="form-control" type="datetime-local" name="time_end" id="time_end" value="0">
                </div>
                <div class="col">
                    <div id="drop-area">
                        <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
                        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                        <label class="button" for="fileElem">Select some files</label>
                        <!-- <progress id="progress-bar" max=100 value=0></progress> -->
                        <div id="gallery"></div>
                    </div>
                </div>
            </div>
            <div class="attributes-wrapper">
                <div class="group">
                    <label for="select_attribute">{% trans 'select_attribute' %}</label>
                    <select class="form-control" id="select_attribute" data-url="{% url 'get_attributes_values_by_attributes' %}">
                        <option value="-1" selected>-------</option>
                        {% for attr in attrib %}
                            <option value="{{ attr.attribute_fk.id }}">{{ attr.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="group">
                    <label for="select_attribute_value" style="display: none;">{% trans 'select_attribute_value' %}</label>
                    <select class="form-control" id="select_attribute_value" style="display: none;">
                    </select>
                </div>
                <div class="group">
                    <label id="list_added_attributes_header">{% trans 'List Attributes' %}</label>
                    <div id="add_attribute" style="display: none" class="add_attribute"><i class="fa fa-plus"></i></div>
                    <div id="list_added_attributes" class="list_added_attributes"></div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {% for l in lng %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ l.0 }}-tab" data-toggle="tab" href="#{{ l.0 }}" role="tab" aria-controls="{{ l.0 }}"
                           aria-selected="true">{{ l.1 }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for l in lng %}
                    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ l.0 }}" role="tabpanel" aria-labelledby="{{ l.0 }}-tab">
                        <label for="lot_name_{{ l.0 }}">{% trans 'title' %}</label>
                        <input class="form-control" id="lot_name_{{ l.0 }}" data-language="{{ l.0 }}" value="">

                        <label for="lot_description_{{ l.0 }}">{% trans 'description' %}</label>
                        <textarea id="lot_description_{{ l.0 }}" name="lot_description_{{ l.0 }}" data-language="{{ l.0 }}" class="lot_description django-ckeditor-widget"
                                  data-type="ckeditortype"></textarea>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-info text-right" type="submit">{% trans 'add_lot' %}</button>
        </div>

        <script>
            // ************************ Drag and drop ***************** //
            let dropArea = document.getElementById("drop-area")

// Prevent default drag behaviors
            ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false);
                document.body.addEventListener(eventName, preventDefaults, false);
            })

// Highlight drop area when item is dragged over it
            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, highlight, false);
            })

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, unhighlight, false);
            });

            // Handle dropped files
            dropArea.addEventListener('drop', handleDrop, false);

            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            function highlight(e) {
                dropArea.classList.add('highlight');
            }

            function unhighlight(e) {
                dropArea.classList.remove('active');
            }

            function handleDrop(e) {
                var dt = e.dataTransfer;
                var files = dt.files;

                handleFiles(files)
            }

            let uploadProgress = [];
            let progressBar = document.getElementById('progress-bar');

            function initializeProgress(numFiles) {
                progressBar.value = 0;
                uploadProgress = [];

                for (let i = numFiles; i > 0; i--) {
                    uploadProgress.push(0)
                }
            }

            function updateProgress(fileNumber, percent) {
                uploadProgress[fileNumber] = percent;
                let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
                console.debug('update', fileNumber, percent, total);
                progressBar.value = total
            }

            function handleFiles(files) {
                files = [...files];
                // initializeProgress(files.length);
                // files.forEach(uploadFile)
                files.forEach(previewFile)
            }

            function previewFile(file) {
                console.log(file);
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onloadend = function () {
                    let img = document.createElement('img');
                    let eldiv = document.createElement('div');
                    eldiv.appendChild(img);
                    img.src = reader.result;
                    img.dataset['name'] = file.name;
                    document.getElementById('gallery').appendChild(eldiv);
                }
            }

            function uploadFile(file, i) {
                var url = 'https://api.cloudinary.com/v1_1/joezimim007/image/upload'
                var xhr = new XMLHttpRequest()
                var formData = new FormData()
                xhr.open('POST', url, true)
                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

                // Update progress (can be used to show progress indicator)
                xhr.upload.addEventListener("progress", function (e) {
                    updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
                })

                xhr.addEventListener('readystatechange', function (e) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        updateProgress(i, 100) // <- Add this
                    } else if (xhr.readyState == 4 && xhr.status != 200) {
                        // Error. Inform the user
                    }
                })

                formData.append('upload_preset', 'ujpu6gyk')
                formData.append('file', file)
                xhr.send(formData)
            }
        </script>
    </form>


</div>

<div class="new-header">
    <div class="block-image-header">
        <img src="/media/icons/logo.png" alt="">
    </div>
    <div class="block-info-header">
        {% if not user.is_authenticated %}
            <form class="mt-1" id="auth_form-login_page" method="post" action="{% url 'login_json' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="auth_name-login_header"><i class="fa fa-user fa-fw"></i></label>
                    <input type="text" id="auth_name-login_header" name="auth_name-login_header" class="form-control" aria-describedby="emailHelp" placeholder="{% trans "Login" %}" value="">
                </div>
                <div class="form-group">
                    <label for="auth_password-login_header"><i class="fa fa-key fa-fw"></i></label>
                    <input type="password" id="auth_password-login_header" name="auth_password-login_header" class="form-control" placeholder="{% trans "Password" %}" value="">
                </div>
                <div class="btn-group col-lg-3 col-md-3 col-sm-4 col-xs-4 open">
                    <button type="submit" value="{% trans "Login" %}" class="btn btn-primary">{% trans "Login" %}</button>
                    <button type="button" class="btn btn-primary dropdown-toggle border-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="ml-1" href="{% url 'register_page' %}">{% trans "Registration" %}</a></li>
                    </ul>
                </div>
            </form>
        {% else %}
            <div class="group-buttons-header">
                <a href="{% url 'account_page' %}" class="profile-button btn btn-primary"><i class="fas fa-user-graduate"></i> {% trans "Konto osobiste" %}</a>
                <a href="{% url 'logout_user' %}" class="logout-button btn btn-primary"><i class="fas fa-sign-out-alt"></i> {% trans "Log Out" %}</a>
            </div>
        {% endif %}
    </div>
    <div class="new-menu-header">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'catalog' %}" id="dropdown_catalog"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{% trans "Catalog" %}</a>
                <div class="dropdown-menu" aria-labelledby="dropdown_catalog">
                    <a class="dropdown-item" href="{% url 'catalog' %}">{% trans "Catalog" %}</a>
                    <a class="dropdown-item" href="{% url 'archive' %}">{% trans "Archive" %}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog' %}">{% trans "Blog" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'soon' %}">{% trans "Aktualności" %}</a>
            </li>
{##}
{#             <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="dropdown_Soon"#}
{#                   data-toggle="dropdown" aria-haspopup="true"#}
{#                   aria-expanded="false">{% trans "Aktualności" %}</a>#}
{#                <div class="dropdown-menu" aria-labelledby="dropdown_Soon">#}
{#                   <a class="dropdown-item" href="{% url 'soon' %}">{% trans "Soon" %}</a>#}
{#                </div>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contacts' %}">{% trans "Contacts" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reglament' %}">{% trans "Regulamin" %}</a>
            </li>
        </ul>
        <div class="search-header">
            <form class="form-inline" method="GET" action="{% url 'search' %}">
                <div class="relative">
                    <input class="search-label" type="search" name="search_name"
                           placeholder="{% trans "Search" %}" aria-label="Search">

                    <button type="submit" name="header_search_submit"
                            class="fas fa-search search-button">
                        <span class="sr-only">Search!</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="language-selector dropdown show">
            <a class="" href="#" role="button" id="languageMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <div class="language-selector-button">
                    <img style="padding-bottom: 4px;"
                         src="/media/icons/language/{{ LANGUAGE_CODE }}.png"
                         width="22px" alt=""> {{ LANGUAGE_CODE|upper }}
                </div>
            </a>
            {% get_available_languages as lng %}
            <div class="dropdown-menu" aria-labelledby="languageMenuLink">
                {% for item in lng %}
                    <button type="button" class="w-100"
                            onclick="LanguageChanger('{{ item.0 }}','{{ LANGUAGE_CODE }}')">
                        <img src="/media/icons/language/{{ item.0 }}.png" width="18px"
                             alt=""> {{ item.1 }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% comment %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="/"><img src="/media/icons/logo.png" width="150" height="60"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container main-menu" id="navbarSupportedContent">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">{% trans "Home" %} <span class="sr-only">(current)</span></a>
                        </li>
                        {#                    <li class="nav-item">#}
                        {#                        <a class="nav-link" href="{% url 'catalog' %}">{% trans "Catalog" %}</a>#}
                        {#                    </li>#}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'catalog' %}" id="dropdown_catalog"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{% trans "Catalog" %}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_catalog">
                                <a class="dropdown-item" href="{% url 'catalog' %}">{% trans "Catalog" %}</a>
                                <a class="dropdown-item" href="{% url 'soon' %}">{% trans "Soon" %}</a>
                                <a class="dropdown-item" href="{% url 'archive' %}">{% trans "Archive" %}</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">{% trans "Blog" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts' %}">{% trans "Contacts" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://elitanowak.pl/" target="_blank">Elitanowak</a>
                        </li>
                        {#                <li class="nav-item dropdown">#}
                        {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                        {#                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                        {#                        Dropdown#}
                        {#                    </a>#}
                        {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                        {#                        <a class="dropdown-item" href="#">Action</a>#}
                        {#                        <a class="dropdown-item" href="#">Another action</a>#}
                        {#                        <div class="dropdown-divider"></div>#}
                        {#                        <a class="dropdown-item" href="#">Something else here</a>#}
                        {#                    </div>#}
                        {#                </li>#}

                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="d-flex justify-content-end align-items-center">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
                            <div class="relative">
                                <input class="search-label" type="search" name="search_name"
                                       placeholder="{% trans "Search" %}" aria-label="Search">

                                <button type="submit" name="header_search_submit"
                                        class="fas fa-search search-button">
                                    <span class="sr-only">Search!</span>
                                </button>
                            </div>
                            {#                                                <input class="form-control mr-sm-2 search-label" type="search" name="search_name" placeholder="{% trans "Search" %}" aria-label="Search">#}
                            {#                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{% trans "Search" %}</button>#}
                        </form>
                        <div class="language-selector dropdown show">
                            <a class="" href="#" role="button" id="languageMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="language-selector-button">
                                    <img style="padding-bottom: 4px;"
                                         src="/media/icons/language/{{ LANGUAGE_CODE }}.png"
                                         width="22px" alt=""> {{ LANGUAGE_CODE|upper }}
                                </div>
                            </a>
                            {% get_available_languages as lng %}
                            <div class="dropdown-menu" aria-labelledby="languageMenuLink">
                                {% for item in lng %}
                                    <button type="button" class="w-100"
                                            onclick="LanguageChanger('{{ item.0 }}','{{ LANGUAGE_CODE }}')">
                                        <img src="/media/icons/language/{{ item.0 }}.png" width="18px"
                                             alt=""> {{ item.1 }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="account-selector dropdown show">
                            <a class="" href="#" role="button" id="account_menu" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="account-button-selector"><i class="fas fa-user"></i></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="account_menu">
                                {% if not user.is_authenticated %}
                                    <a href="{% url 'login_page' %}" class="account-button-item button w-100"><i
                                            class="fas fa-sign-in-alt"></i> {% trans "Login" %}</a>
                                    <a href="{% url 'register_page' %}"
                                       class="account-button-item button w-100 d-block"><i
                                            class="fas fa-sign-in-alt"></i> {% trans "Registration" %}</a>
                                {% else %}
                                    <div>Hi {{ user.username }}</div>
                                    <a href="{% url 'account_page' %}"
                                       class="account-button-item button w-100 d-block"><i
                                            class="fas fa-user-graduate"></i> {% trans "Konto osobiste" %}</a>
                                    <a href="{% url 'logout_user' %}"
                                       class="account-button-item button w-100 d-block"><i
                                            class="fas fa-sign-out-alt"></i> {% trans "Log Out" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endcomment %}


<script>
    function LanguageChanger(code, current) {
        $.ajax({
            type: "POST",
            url: "/lang/",
            data: {
                'next': '{{ request.path }}',
                'language': code,
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                document.location.replace(data);
            },
        });
    }

    $(document).ready(function () {
        var lng_changer = $('#lng_changer');
        var lng_form = $('#lng_form');

        lng_changer.on('change', function (e) {
            lng_form.submit();
        })
    })
</script>
