{% extends "wraper.html" %}
{% load blog_tags %}
{% load products_tags %}
{% load mainapp_tags %}
{% load slider_tags %}
{% load send_email_tags %}
{% load i18n %}
{% block body %}
        {% tag_get_last_lots as last_lots %}
    <div id="last_lots" class="last-lots mt-2 mb-2 container">
        {% for l_l in last_lots %}
            <div class="last-lot">
                <div class="last-lot-block">
                    <div class="image-container">
                        <img class="image-last-lot" src="{{ l_l.image.url }}" alt="">
                    </div>
                    <div class="info-container">
                        <div class="name">{{ l_l.name }}</div>
                        <div class="add-date">{{ l_l.added_date|date:"Y/m/d H:i"  }}</div>
                    </div>
                    <div class="price-container">
                        <div class="last-price">{{ l_l.current_price }} EUR</div>
                    </div>
                    <div class="action-container">
                        <a href="{{ l_l.link }}"><i class="fa fa-shopping-basket"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $("#last_lots").slick({
            slidesToScroll: 1,
            arrows: true,
            dots: false,
            infinite: true,
            centerMode: true,
            variableWidth: true,
        });
    </script>


    <!--Слайдер-->
    {% if main_slider_top.data %}
        <div class="bloc-slider  mb-5 container">
            <div id="main-slider" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    {% for slide in main_slider_top.data %}
                        <li data-target="#main-slider" data-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}

                </ul>
                <div class="carousel-inner">
                    {% for slide in main_slider_top.data %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="/media/{{ slide.image }}" alt="Los Angeles"
                                 style="width: 100%;
                                        {#height: 600px;#}
                                        filter: brightness(0.8);
                                        {#max-height: 100vh;#}
                                        display: block;
                                        object-fit: cover;
                                        object-position: center;">
                            <div class="carousel-caption">
                                {#                        <h3>Los Angeles</h3>#}
                                {#                        <p>We had such a great time in LA!</p>#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#main-slider" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#main-slider" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    {% endif %}



    <!--Головні категорії-->
    <div class="container mb-5">
        <div class="title-categories-main-page text-uppercase text-center mb-3">{% trans "Sellers" %}</div>
        <div id="main-slider-category" class="main-slider-category" style="max-width:100%;">
            {% tag_get_all_categories as all_categories %}
            {% for category in all_categories %}
                <div class="col-12">
                    <img class="img-fluid w-100" style="height: 170px; object-fit: cover; width: 450px!important;" src="{{ category.data.image }}"
                         alt="{{ category.data.name }}">
                    <a href="{{ category.data.link }}" class="text h4 text-center d-block">{{ category.data.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $("#main-slider-category").slick({
            slidesToScroll: 1,
            arrows: true,
            dots: true,
            infinite: true,
            centerMode: true,
            variableWidth: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToScroll: 1,
                        arrows: true,
                        dots: true,
                        infinite: true,
                        centerMode: true,
                        variableWidth: true,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToScroll: 1,
                        arrows: true,
                        dots: true,
                        infinite: true,
                        centerMode: true,
                        variableWidth: true,
                    }
                }
            ]
        });
    </script>


    <div class="container mb-5">
        <div class="row">
            <!--Останні новини блогу-->
            <div class="col-12 col-md-8">
                <div class="title-last-articles text-uppercase text-center mb-3">{% trans "Last Articles" %}</div>
                <div class="row">
                    {% tag_last_articles 3 as last_articles %}
                    {% for article in last_articles %}
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 mb-4 mb-lg-0 article-widget-cart">
                            <img style="height: 200px; width: 100%; object-fit: cover;" src="{{ article.data.image }}" alt="">
                            <a style="color: #000" href="{{ article.data.link }}">{{ article.data.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--Останні ставки-->
            <div class="col-12 col-md-4 container-last-bets">
                {% tag_get_last_bets 10 as last_bets %}
                <div class="title-last-bets text-uppercase text-center mb-3">{% trans "Last Bets" %}</div>
                <div class="block-last-bets">
                    {% for last_bet in last_bets.object %}
                        <div class="last-bet">
                            <a class="product-name" href="{{ last_bet.product_fk.get_absolute_url }}">{{ last_bet.product_fk.get_fields.name }}</a>
                            <div class="price">{{ last_bet.price }} EUR / {{ last_bet.price|filter_convert_eur_to_pln }} PLN</div>
                            <div class="author-name">{{ last_bet.user_fk.username }}</div>
                            <div class="added-date">{{ last_bet.added_date|date:"Y-m-d H:i:s" }}</div>
                        </div>
                        <hr class="mt-1 mb-1">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-4">
                {% tag_get_slider_youtube 'ipa24video-darmove' %}
            </div>
            <div class="col-12 col-lg-8">
                {% tag_get_feedback %}
            </div>
        </div>
    </div>
    <div class="container">

    </div>
{% endblock %}