{% extends "wraper.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-2 col-8 offset-md-4 col-md-4">
                <form class="mt-5" id="auth_form-login_page" method="post" action="{% url 'login_json' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="auth_name-login_page">{% trans "Login" %}</label>
                        <input type="text" id="auth_name-login_page" name="auth_name-login_page" class="form-control" aria-describedby="emailHelp" placeholder="Enter login" value="">
                    </div>
                    <div class="form-group">
                        <label for="auth_password-login_page">{% trans "Password" %}</label>
                        <input type="password" id="auth_password-login_page" name="auth_password-login_page" class="form-control" placeholder="Password" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}