{% extends "wraper.html" %}
{% load staticfiles %}
{% load i18n %}
{% block body %}
    <div class="container">
        <h1 class="text-center">{% trans "Register page" %}</h1>
        <div class="row">
            <div class="col-12">
                <form class="mt-5" id="register_form-register_page" action="{% url 'register_json' %}">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="register_email-register_page">{% trans "Email address" %} <span class="text-danger">*</span></label>
                                <input type="text" id="register_email-register_page" required class="form-control" aria-describedby="emailHelp" placeholder="{% trans "Email address" %}" value="">
                            </div>
                            <div class="form-group">
                                <label for="register_name-register_page">{% trans "Login" %} <span class="text-danger">*</span></label>
                                <input id="register_name-register_page" required class="form-control" placeholder="{% trans "Login" %}">
                            </div>
                            <div class="form-group">
                                <label for="register_first_name-register_page">{% trans "First Name" %}</label>
                                <input id="register_first_name-register_page" class="form-control" placeholder="{% trans "First Name" %}">
                            </div>
                            <div class="form-group">
                                <label for="register_last_name-register_page">{% trans "Last Name" %}</label>
                                <input id="register_last_name-register_page" class="form-control" placeholder="{% trans "Last Name" %}">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="register_phone-register_page">{% trans "Phone" %} <span class="text-danger">*</span></label>
                                <input id="register_phone-register_page" required class="form-control" placeholder="{% trans "Phone" %}">
                            </div>
                            <div class="form-group">
                                <label for="register_image-register_page">{% trans "Image" %} <span class="text-danger">*</span></label>
                                <input type="file" id="register_image-register_page"  class="form-control" multiple accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="register_password-register_page">{% trans "Password" %} <span class="text-danger">*</span></label>
                                <input type="password" id="register_password-register_page" required class="form-control" placeholder="{% trans "Password" %}">
                            </div>
                            <div class="form-group">
                                <label for="register_password_confirm-register_page">{% trans "Password Confirm" %} <span class="text-danger">*</span></label>
                                <input type="password" id="register_password_confirm-register_page" required class="form-control" placeholder="{% trans "Password Confirm" %}">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}