{% extends 'wraper.html' %}
{% block body %}
    <div class="container">
        <div class="h1">REGULAMIN</div>
        <br>
        §1 Definicje
        <br><br>
        Terminy użyte w Regulaminie oznaczają:
        <br>
        IPA24.COM - portal aukcyjny gołębi, NIP: 7551818183, REGON: 160011583
        <br>
        Aukcje ipa24.com - platforma handlowa on-line o charakterze otwartym, w ramach której organizowane są Aukcje oraz świadczone inne usługi związane z Aukcjami, utrzymywana w domenie ipa24.com.
        <br>
        Towar - żywe zwierzę, rzecz, usługa lub prawo, które mogą być przedmiotem Aukcji, zgodnie z Regulaminem Użytkownik - podmiot, który uzyskał dostęp do usług świadczonych przez ipa24 w ramach
        aukcji ipa24.com na zasadach określonych w Regulaminie
        <br>
        Sprzedawca - użytkownik oferujący do sprzedaży towary w ramach aukcji ipa24.com
        <br>
        Licytant - użytkownik, który złożył ofertę kupna towaru w ramach licytacji podczas aukcji licytacyjnej
        <br>
        Kupujący - użytkownik podejmujący działania zmierzające do nabycia lub kupujący towary w ramach aukcji ipa24.com
        <br>
        Aukcje - procedury zawierania umów sprzedaży towarów
        <br>
        Konto - prowadzone dla użytkownika pod określonym loginem, w którym gromadzone są dane użytkownika
        <br>
        Rejestracja - procedura zakładania konta użytkownika
        <br>
        Regulamin - niniejszy Regulamin Portalu Aukcyjnego www.ipa24.com
        <br>
        Dane osobowe - w rozumieniu RODO to dane umożliwiające identyfikację osób fizycznych
        <br>
        §2 Uczestnictwo w aukcjach ipa24.com
        <br><br>
        1. Użytkownikami, mogą zostać pełnoletnie osoby fizyczne, posiadające pełną zdolność do czynności prawnych, osoby prawne oraz jednostki organizacyjne nieposiadające osobowości prawnej, ale
        mogące we własnym imieniu nabywać prawa i zaciągać zobowiązania. Użytkownikami mogą być osoby, które mają ukończony 13 rok życia, ale nie ukończyły 18 lat w zakresie w jakim mogą nabywać prawa
        i zaciągać zobowiązania zgodnie z przepisami powszechnie obowiązującego prawa. Poprzez Rejestrację, osoba, która ukończyła 13 rok życia, ale nie ukończyła 18 lat, oświadcza, że zawiera umowy w
        ramach aukcji IPA24 za zgodą opiekuna prawnego. Użytkownik lub osoby, które z mocy ustawy lub umowy zobowiązane są do nadzoru nad nim, ponoszą pełną odpowiedzialność za działania Użytkownika w
        ramach Aukcje IPA24, w szczególności ponoszą pełną odpowiedzialność odszkodowawczą względem IPA24 i osób trzecich.
        <br>
        2. Użytkownikiem, który jest Sprzedawcą, może być jedynie pełnoletnią osobą fizyczną posiadającą pełną zdolność do czynności prawnych. Konto Użytkownika, który jest Sprzedawcą, tworzone jest i
        obsługiwane wyłącznie przez IPA24. Sprzedawca udziela IPA24 pełnomocnictwa, dzięki któremu IPA24, w jego imieniu, może prowadzić wszelkie działania związane z obsługą Konta Sprzedawcy, m.in.
        obsługę Aukcji, w ramach umowy zawartej pomiędzy

        <br>
        3. Sprzedawca ma dostęp do swojego Konta Użytkownika.
        <br>
        4. Do Rejestracji Konta Użytkownika niezbędne jest wypełnienie formularza rejestracyjnego poprzez podanie: swojego imienia i nazwiska, adresu zamieszkania wraz z nazwą kraju, numeru telefonu
        kontaktowego, adresu poczty e-mail, nazwy, pod którą osoba rejestrująca zamierza występować w Aukcje IPA24 (login) oraz hasła.
        <br>
        §3 Rodzaje Aukcji
        <br><br>
        a) Aukcja licytacyjna, w ramach której Sprzedawca poprzez wystawienie Towaru zaprasza do składania ofert celem zawarcia umowy z Użytkownikiem oferującym najwyższą cenę (licytacja),
        <br>
        1. Proponowane przez Użytkowników ceny, jak i inne warunki Aukcji są informacjami jawnymi, widocznymi dla wszystkich odwiedzających Aukcje.
        <br>
        §5 Rozpoczęcie Aukcji
        <br><br>
        1. Aby wystawić Towar w Aukcji należy skontaktować się z IPA24, która na podstawie otrzymanych informacji oraz wspólnych ustaleń (osobna umowa) utworzy Konto Użytkownika dla Sprzedawcy (jeżeli
        wcześniej ono nie istniało), a następnie w ramach tego Konta utworzy Aukcję (lub kilka Aukcji).
        <br>
        2. Sprzedawca wyraża zgodę na publikowanie informacji o Aukcji w różnych mediach (np. prasa, telewizja, Internet, radio) w celach promocyjnych
        <br>
        3. Sprzedawca oświadcza, że obrót wystawionym Towarem nie narusza przepisów obowiązującego prawa lub praw osób trzecich a także, że jest uprawniony do zawarcia i wykonania umowy, w celu
        zawarcia której została rozpoczęta Aukcja.
        <br>
        4. Informacje o Towarze, przekazywane IPA24 przez Sprzedawcę, powinny być kompletne i rzetelne oraz nie mogą wprowadzać w błąd innych Użytkowników, w szczególności co do właściwości Towaru.
        Informacje te powinny być zgodne z wymogami prawa, w szczególności powinny zawierać wymagane w określonych okolicznościach informacje, w tym informacje wskazane w obowiązujących przepisach
        dotyczących ochrony konsumentów. Sprzedawca ponosi pełną odpowiedzialność za informacje, które przekazał do stworzenia opisu Aukcji.
        <br>
        5. Sprzedawca zobowiązany jest określić możliwy sposób lub sposoby zapłaty za Towar zgodnie z obowiązującymi przepisami prawa.
        <br>
        §6 Przebieg Aukcji
        <br><br>
        1. Użytkownik bierze udział w Aukcji poprzez złożenie oferty kupna w licytacji (Aukcje licytacyjne) lub poprzez wybór opcji Kup Teraz (Aukcje z opcją Kup Teraz). W celu dokonania każdej z
        powyższych czynności należy uzupełnić odpowiedni formularz na stronie Aukcji, następnie zweryfikować jego treść i potwierdzić swój wybór.
        <br>
        2. Z chwilą złożenia oferty kupna w licytacji Licytant zgadza się na przekazanie Sprzedawcy nazwy jego Konta (loginu).
        <br>
        3. Przystępując do Aukcji licytacyjnej, Licytant określa cenę Towaru, którą w przypadku wygranej zobowiązuje się zapłacić.
        <br>
        4. Podczas Aukcji licytacyjnych Licytant może zmieniać wysokość ceny maksymalnej, nie może jednak wskazać kwoty niższej niż najwyższa oferowana w tym momencie przez innego Licytanta.
        <br>
        5. Podczas Aukcji licytacyjnej, jeśli Licytant złoży ofertę w ostatnich 5 minutach trwania Aukcji, to system automatycznie przedłuży czas trwania tej Aukcji o 5 minut.
        <br>
        6. Zwycięzcą Aukcji licytacyjnej jest Licytant, którego oferta obejmowała najwyższą cenę. Jeżeli kilku Licytantów złożyło oferty z taką samą najwyższą ceną – wygrywa Licytant, który pierwszy
        przystąpił do licytacji poprzez wskazanie najwyższej ceny.

        <br>
        7. IPA24 może w każdym czasie zamknąć Aukcję, zwycięzców Aukcji ustala się wówczas według stanu na chwilę jej zakończenia. Jeżeli podczas Aukcji nastąpiła kradzież lub zniszczenie Towaru, na
        wniosek Sprzedawcy, IPA24 w drodze wyjątku może zakończyć Aukcję bez ustalania jej wyniku (tj. nie ustala się zwycięzcy Aukcji), po uprzednim odrzuceniu wszystkich złożonych przez Licytantów
        ofert.
        <br>
        8. Poza ceną ustaloną zgodnie z niniejszym artykułem Sprzedawca może obciążyć Kupującego jedynie kosztami dostawy w rzeczywistej wysokości.
        <br>
        9. Dokładne informacje o wszystkich przerwach technicznych i awariach są umieszczane jako artykuł z kategorii "aktualności" na stronie głównej portalu www.ipa24.com
        <br>
        §7 Zawarcie umowy
        <br><br>
        1. Jeżeli w chwili zakończenia Aukcji licytacyjnej ustalony jest, zgodnie z zasadami przewidzianymi w Regulaminie, zwycięzca, następuje przybicie poprzez umieszczenie w odpowiednich zakładkach
        na Kontach Sprzedawcy i Kupującego informacji o jej zakończeniu uzupełnionej o wskazanie zwycięzcy (chwila przybicia). Potwierdzenia o zakończeniu Aukcji wysyłane drogą e-mail (lub opcjonalnie
        poprzez inne środki komunikacji teleinformatycznej, np. wiadomość SMS) mają charakter wyłącznie informacyjny. Natomiast zakończenie Aukcji ani przybicie nie następują, gdy informacje, o
        których mowa w zdaniach poprzednich wygenerowane zostaną podczas lub wskutek awarii lub błędu technicznego.
        <br>
        2. Zawarcie umowy pomiędzy Sprzedawcą a zwycięzcą licytacji następuje z chwilą przybicia.
        <br>
        3. Jeżeli ważność umowy zależy od spełnienia szczególnych wymagań przewidzianych przepisami prawa, np. zawarcie umowy wymaga formy pisemnej bądź innej formy szczególnej, zarówno Kupujący, jak
        i Sprzedawca, po przybiciu albo po potwierdzeniu przez Kupującego skorzystania z opcji Kup Teraz, może dochodzić zawarcia tej umowy.

        <br>
        4. Sprzedawca i Kupujący zobowiązują się do niezwłocznego podjęcia działań mających na celu zawarcie umowy. Sprzedawca i Kupujący powinni nawiązać kontakt nie później niż w terminie 3 dni
        kalendarzowych od przybicia albo potwierdzenia przez Kupującego skorzystania z opcji Kup Teraz, w celu finalizacji zawartej pomiędzy nimi umowy.
        <br>
        5. Jeżeli Aukcja nie zakłada własnych zasad dotyczących płatności, to Kupujący w ciągu 7 dni kalendarzowych, licząc od dnia zakończenia Aukcji, powinien dokonać płatności na rzecz Sprzedawcy w
        określonej w Aukcji formie. Kwota płatność: a) w przypadku kupna w licytacji (Aukcje licytacyjne) równa się najwyższej złożonej przez Kupującego oferty; b) w przypadku opcji Kup Teraz (Aukcje
        z opcją Kup Teraz) równa cenie Kup Teraz. Do kwoty płatności może być doliczona dodatkowa kwota, która wiąże się z pokryciem przez Kupującego kosztów transportu oraz opakowania.
        <br>
        6. Sprzedawca zobowiązują się do przestrzegania postanowień Kodeksu Cywilnego, w szczególności zapisów dotyczących rękojmi za wady.
        <br>
        §8 Rola IPA24
        <br><br>
        1. IPA24 pełni rolę pomocnika dla Sprzedawcy. Sprzedawca udziela IPA24 pełnomocnictwa, dzięki któremu IPA24, w jego imieniu tworzy Konto Użytkownika dla Sprzedawcy i w jego ramach prowadzi
        wszelkie działania związane z obsługą Konta Sprzedawcy, m.in. obsługę Aukcji, w ramach umowy zawartej pomiędzy IPA24 a Sprzedawcą.
        <br>
        2. IPA24 w szczególności nie ponosi odpowiedzialności za jakość, bezpieczeństwo lub legalność Towarów sprzedawanych w ramach Aukcji, prawdziwość i rzetelność informacji podawanych przez
        Użytkowników, zdolność Sprzedawców do ich sprzedaży oraz wypłacalność Użytkowników składających oferty kupna.
        6. W przypadku zawieszenia Konta Użytkownik posiada jedynie wgląd do Konta oraz dostęp do funkcji pozwalających uregulować należności wobec serwisu i sfinalizować zawarte przed zawieszeniem
        Konta umowy, nie może on natomiast korzystać z żadnych innych usług świadczonych przez IPA. Wynik Aukcji, w których Użytkownik uczestniczył w chwili zawieszenia Konta jako Licytant.
        <br>
        8. W przypadku nie wywiązania się z umowy przez Kupującego, Sprzedawca może udzielić pełnomocnictwa IPA24, dzięki któremu IPA24 w imieniu Sprzedawcy, może podjąć wszelkie działania zgodnie z
        obowiązującym prawem, których celem jest doprowadzenie do wywiązania się z umowy przez Kupującego.
        <br>
        §9 Opłaty
        <br><br>
        1. Usługi świadczone przez IPA24 na dzien 23.04.2021 są nieodpłatne- do odwołania. Wszystkimi opłatami i prowizjami obciążany jest Sprzedawca. Wysokość opłat i prowizji za poszczególne usługi
        i ich opcje oraz zasady ustalane są indywidualnie.
        <br>
        2. W związku z tym, że każdy sprzedawca jest traktowany tak, jakby był osobą fizyczną, to Kupujący nie mogą żądać wystawienia faktury w związku z realizacją umowy. Zasady wystawiania faktur
        określa obowiązujące prawo.
        <br>
        §10 Obowiązku Użytkowników
        <br><br>
        1. Wszelkie działania podejmowane przez Użytkownika w ramach Aukcje IPA24 powinny być zgodne z obowiązującymi przepisami prawa i dobrymi obyczajami.
        <br>
        §11 Zmiany Regulaminu
        <br><br>
        IPA24 może zmienić Regulamin i uruchomić nową wersję usług świadczonych w ramach Aukcji. Zmiana staje się skuteczna w terminie wskazanym przez IPA24, który nie może być krótszy niż 7 dni od
        momentu udostępnienia.
        <br>
        Dane osobowe są zbierane w formularzu rejestracyjnym konta i przechowywane w sposób bezpieczny na serwerach. Dostęp do nich mają jedynie upoważnieni pracownicy. Dane kontaktowe podawane w
        formularzu rejestracyjnym są traktowane jako poufne i nie są widoczne dla osób nieuprawnionych.
        <br>
        Podane przez Państwa dane osobowe będą udostępniane innym podmiotom wyłącznie w celu sprawnego sfinalizowania transakcji. Udostępnienie danych dotyczy jedynie wygranych aukcji.
        <br>
        Sprzedający - jeśli obowiązuje go ogólne rozporządzenie o ochronie danych osobowych (RODO), po uzyskaniu od serwisu IPA24, danych osobowych kupujących jest zobowiązany spełnić wobec nich
        wszelkie obowiązki wynikające z RODO i innych przepisów prawa, w szczególności dotyczące prawa do ograniczenia przetwarzania Państwa danych osobowych, prawa do przenoszenia tych danych
        osobowych oraz prawo do niepodlegania zautomatyzowanemu podejmowaniu decyzji, w tym profilowania.
        <br>
        Podanie przez Państwa danych osobowych jest dobrowolne ale niezbędnym warunkiem uczestnictwa w licytacji gołębia.
        <br>
        Mają Państwo prawo do wglądu, edycji, sprostowania, usunięcia, przeniesienia lub ograniczenia przetwarzania swoich danych osobowych i przypisanych do nich danych profilowych. Dodatkowo
        przysługuje prawo do sprzeciwu i skargi do organu nadzorczego.
        <br>
        W przypadku, gdy nie akceptują Państwo powyższych zmian zasad prosimy o poinformowanie nas o tym. Przesłanie rezygnacji będzie skutkowało usunięciem danych z naszej bazy. Kontakt: 602 706 686
        <br>
        §13 Rozwiązanie umowy
        <br>
        1. Świadczenie usług w ramach Aukcje IPA24 ma charakter bezterminowy.
        <br>
        2. Jeżeli umowa została rozwiązana na podstawie decyzji IPA24, Użytkownik nie może ponownie zarejestrować się w IPA24 bez uprzedniej zgody IPA24
        <br>
        3. Rozwiązanie przez Użytkownika umowy z IPA24 (dotyczącej określonego Konta) odnosi skutek najwcześniej po upływie 30 dni od zakończenia ostatniej Aukcji, w której Użytkownik uczestniczył
        korzystając z danego Konta.
        <br>
        §14 Kontakt i reklamacje
        <br>
        1. Użytkownik może kontaktować się z IPA pod nr tel: 602 706 686
        <br>
        Nie bierzemy odpowiedzialności za jakość sprzedawanego towaru - gołębi.
        <br>
        §15 Prawo właściwe i spory
        <br>
        1. Prawem właściwym dla umowy pomiędzy Użytkownikiem a IPA24, której przedmiotem są usługi świadczone przez IPA24 na warunkach określonych w Regulaminie, jest prawo polskie. Wszelkie spory
        związane z usługami świadczonymi przez IPA24 będą rozstrzygane przez właściwe polskie sądy powszechne.
        <br>
        ----Załącznik nr 1 – Opłaty<br>
        !!Na dzień 23.04.2021 - do odwołania, nie pobieramy opłat prowizji za aktywne aukcje!!
        <br>
        §1 Ustalenie wstępne
        <br><br>
        1. Jeżeli umowa pomiędzy IPA a Sprzedawcą nie posiada własnych ustaleń dotyczących opłat oraz rozliczania należności finansowych, to przyjmuje się, że obowiązują postanowienia Regulaminu i
        niniejszego Załącznika nr 1 „Opłaty”.

        §2 System rozliczeń
        <br><br>
        1. IPA pobiera opłaty i prowizje za usługi związane z organizacją Aukcji świadczone w ramach Aukcje IPA24 według następujących systemów rozliczeniowych:

        <br>
        System rozliczeniowy nr 1 – wyłącznie prowizja od ceny sprzedaży
        !!Na dzień 23.04.2021 - do odwołania, nie pobieramy opłat prowizji za aktywne aukcje!!
        <br>
        W ramach tego systemu obowiązują dwa progi wysokości prowizji:
        <br>
        a) 20% od ceny sprzedaży w Aukcji, w której IPA24 brała czynny udział w gromadzeniu materiałów niezbędnych do opisu Towaru (np. przyjazd do Sprzedawcy, realizacja zdjęć, wideo, skanowania,
        przeprowadzenie wywiadu, utworzenie tekstów, przeprowadzenie wywiadu telefonicznego itp.)
        <br>
        😎 15% od ceny sprzedaży w Aukcji, w które IPA24 nie brała czynnego udziału w gromadzeniu materiałów, stanowiących materiał sprzedażowy.
        <br>
        System rozliczeniowy nr 2 – mniejsza prowizja od ceny sprzedaży + opłata za wystawienie Aukcji
        <br>
        !!Na dzień 23.04.2021 - do odwołania, nie pobieramy opłat prowizji za aktywne aukcje!!
        <br>
        Opłata za wystawienie jednej Aukcji: 50zł. Opłata naliczana jest w momencie rozpoczęcia Aukcji.
        <br>
        W ramach tego systemu obowiązują dwa progi wysokości prowizji:
        <br>
        a) 10% od ceny sprzedaży w Aukcji, w której IPA24 brała czynny udział w gromadzeniu materiałów niezbędnych do opisu Towaru (np. przyjazd do Sprzedawcy, realizacja zdjęć, wideo, skanowania,
        przeprowadzenie wywiadu, utworzenie tekstów, przeprowadzenie wywiadu telefonicznego itp.)
        <br>
        3. Wszystkie kwoty podane w niniejszym załączniku są kwotami brutto (zawierają podatek od towarów i usług, tj. VAT). W przypadku, gdy wysokość opłaty lub prowizji ustalana jest jako procent od
        danej kwoty (np. ceny sprzedaży), jako podstawa ustalenia tej opłaty czy prowizji przyjmowana jest kwota brutto (z VAT). Kwoty prowizji zaokrąglane są w górę do pełnych złotówek.
        <br>
        4. Niedopuszczalne jest bezpośrednie obciążanie Kupującego przez Sprzedawcę kosztami Aukcji (w szczególności opłatami za wystawienie Towaru, opcje dodatkowe, prowizje od sprzedaży, dokonywanie
        płatności przy użyciu karty płatniczej).
        <br>
        §3 Rozliczenia należności
        <br><br>
        1. IPA w ciągu 72 godzin od zakończenia Aukcji (lub kilku Aukcji) prześle Sprzedawcy w formie wiadomości e-mail, na adres e-mail podany do Rejestracji Konta, (oraz opcjonalnie w formie:
        wiadomość SMS i/lub rozmowy telefonicznej i/lub listu poleconego) podsumowanie stanu rachunku (naliczonych opłat i prowizji) oraz informacje o sposobie i terminie końcowym (lub terminach
        końcowych) dokonania płatności.
        <br>
        2. Jeżeli umowa pomiędzy IPA24 a Sprzedawcą nie zakłada własnych zasad dotyczących rozliczania należności, to Sprzedawca w ciągu 14 dni kalendarzowych, licząc od dnia zakończenia Aukcji,
        zobowiązany jest dokonać płatności według bieżącego stanu rachunku (naliczonych opłat i prowizji).
        <br>
        3. Sprzedawca zobowiązuje się do niezwłocznego podjęcia działań związanych z wykonaniem płatności według bieżącego stanu rachunku (naliczonych opłat i prowizji).
        <br>
        4. Prowizje są naliczane po zakończeniu Aukcji, którą w ramach umowy.
        <br>
        5. W przypadku zastosowania "Systemu rozliczeniowego nr 2" w Aukcji, IPA24 ma prawo żądać od Sprzedawcy, przed wystawieniem Aukcji, dokonania wcześniejszej płatności, w określony sposób i
        terminie, w wysokości, która odpowiada opłacie za wystawienie Aukcji.
        <br>
        6. Nieuiszczenie należności w wymaganym terminie może skutkować całkowitym pozbawieniem funkcjonalności Konta Użytkownika.
        <br>
        7. IPA24 zastrzega sobie możliwość zmiany wysokości opłat i prowizji. Zmiany te następują w trybie i na zasadach właściwych dla zmiany Regulaminu.
        <br>
        8. IPA24 zastrzega sobie możliwość okresowego obniżenia opłat i prowizji w ramach ograniczonych czasowo promocji – na zasadach przewidzianych odrębnie dla takich akcji.
    </div>
{% endblock %}