{% extends "wraper.html" %}
{% load i18n %}
{% block body %}
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <h1>{% trans "Catalog" %}</h1><a href="{% url 'search' %}" class="btn btn-primary">{% trans 'Odfiltruj gołębie z wszystkich aukcji' %}</a>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4">
                    {% include "products/category_cart.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}