{% extends "wraper.html" %}
{% load i18n %}
{% load products_tags %}
{% block body %}

    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4">
                    {% include "products/category_cart_soon.html" %}
                </div>
            {% endfor %}
        </div>
    </div>

    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-12 col-md-3 pb-5 pb-md-0">#}
    {#                <div id="filter" class="product-filter">#}
    {#                    <!--тут будуть фільтри-->#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="col-12 col-md-9">#}
    {#                <div id="products" class="row">#}
    {#                    {% for product in products %}#}
    {#                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">#}
    {#                            {% include "products/product_cart.html" %}#}
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <script>#}
    {#        let array_attrs = [];#}
    {#        let array_products = [];#}
    {#        let csrf = $("[name='csrfmiddlewaretoken']").val();#}
    {##}

    {##}
    {##}
    {##}
    {##}
    {#        function build_filter_values(attr_values) {#}
    {#            html = '';#}
    {#            let check;#}
    {#            for (attr_val of attr_values) {#}
    {#                if (attr_val.is_active === true) {#}
    {#                    check = "checked='checked'";#}
    {#                } else {#}
    {#                    check = '';#}
    {#                }#}
    {#                html += "<div class='filter-value' id='value-" + attr_val.attr_pk + "-" + attr_val.pk + "'>";#}
    {#                html += "<span class='filter-span-1'><input " + check + " id='filter-" + attr_val.attr_pk + "-" + attr_val.pk + "' data-attr_id='" + attr_val.attr_pk + "' data-attr_value_id='" + attr_val.pk + "' class='filter-input-value' type='checkbox'></span>";#}
    {#                html += "<span class='filter-span-2'><label for='filter-" + attr_val.attr_pk + "-" + attr_val.pk + "'>" + attr_val.name + "</label></span>";#}
    {#                html += "<span class='filter-span-3'><span id='count-" + attr_val.attr_pk + "-" + attr_val.pk + "' class='filter-value-qty' data-attr_id='" + attr_val.attr_pk + "' data-attr_value_id='" + attr_val.pk + "'>" + attr_val.count_products + "</span></span>";#}
    {#                html += '</div>';#}
    {#            }#}
    {#            return html;#}
    {#        }#}
    {##}
    {#        function build_filter_attr(attr_name, attr_id, build_filter_values) {#}
    {#            html = '';#}
    {#            html += "<div class='filter-attr' data-attr-index='" + attr_id + "'>";#}
    {#            html += "<div class='filter-name'>" + attr_name + "</div>";#}
    {#            html += build_filter_values;#}
    {#            html += "</div>";#}
    {#            return html;#}
    {#        }#}
    {##}
    {#        function build_products(products) {#}
    {#            html = "";#}
    {##}
    {#            for (product of products) {#}
    {#                html +=#}
    {#                    "<div class='col-12 col-sm-6 col-md-6 col-lg-4'>\n" +#}
    {#                    "   <div class='card product-card mb-4 shadow-sm'>\n" +#}
    {#                    "       <img class='card-img-top' src='" + product.image + "' alt=''>\n" +#}
    {#                    "       <div class='card-body'>\n" +#}
    {#                    "           <p class='card-text'>" + product.name + "</p>\n" +#}
    {#                    "           <div class='bloc-time-and-price d-flex flex-wrap justify-content-between'>\n"+#}
    {#                    "               <div class='card-text cart-price'>" + product.current_price + " EUR</div>\n"+#}
    {#                    "               <div class='card-text cart-time'>" + product.time + "</div>\n"+#}
    {#                    "           </div>\n"+#}
    {#                    "           <div class='btn-group'>\n" +#}
    {#                    "               <a href='" + product.link + "' class='btn btn-sm btn-outline-secondary'>{% trans 'Переглянути голуба' %}\n" +#}
    {#                    "                </a>\n" +#}
    {#                    "           </div>\n" +#}
    {#                    "       </div>\n" +#}
    {#                    "   </div>\n" +#}
    {#                    "</div>\n";#}
    {#            }#}
    {##}
    {#            return html;#}
    {#        }#}
    {##}
    {#        function get_attributes_in_category(filter_attrs = null) {#}
    {#            let content = {#}
    {#                'csrfmiddlewaretoken': csrf,#}
    {#                'products': array_products,#}
    {#            };#}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                data: content,#}
    {#                url: '{% url 'get_attributes_soon_json' %}',#}
    {#                success: function (data) {#}
    {#                    array_attrs = data;#}
    {#                    let filter = $("#filter");#}
    {#                    filter.html("");#}
    {#                    for (let attr of array_attrs) {#}
    {#                        filter.append(build_filter_attr(attr.attr.name, attr.attr.pk, build_filter_values(attr.attr_values)));#}
    {#                        for (let attr_value of attr.attr_values) {#}
    {#                            attr_value.is_active = false;#}
    {##}
    {#                        }#}
    {#                    }#}
    {#                }#}
    {#            });#}
    {##}
    {#        }#}
    {##}
    {##}
    {#        function update_attributes(first_time = false) {#}
    {##}
    {#            let values = [];#}
    {#            let attributes = [];#}
    {#            for (let attr of array_attrs) {#}
    {#                for (let attr_value of attr.attr_values) {#}
    {#                    if (attr_value.is_active === true) {#}
    {#                        values.push({#}
    {#                            'attr_value_pk': attr_value.pk,#}
    {#                        })#}
    {#                    }#}
    {##}
    {#                }#}
    {#                if (values.length !== 0)#}
    {#                    attributes.push({#}
    {#                        'attr_pk': attr.attr.pk,#}
    {#                        'values': values#}
    {#                    });#}
    {#                values = [];#}
    {#            }#}
    {##}
    {#            let content = {#}
    {#                'csrfmiddlewaretoken': csrf,#}
    {#                'products': attributes.length > 0 ? JSON.stringify(array_products) : JSON.stringify(null),#}
    {#                'attributes': JSON.stringify(attributes),#}
    {#            };#}
    {##}
    {#            console.log(content);#}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                data: content,#}
    {#                url: '{% url 'get_attributes_soon_json' %}',#}
    {#                success: function (data) {#}
    {#                    console.log(data);#}
    {#                    if (first_time) {#}
    {#                        array_attrs = data;#}
    {#                        let filter = $("#filter");#}
    {#                        filter.html("");#}
    {#                        for (let attr of array_attrs) {#}
    {#                            filter.append(build_filter_attr(attr.attr.name, attr.attr.pk, build_filter_values(attr.attr_values)));#}
    {#                            for (let attr_value of attr.attr_values) {#}
    {#                                attr_value.is_active = false;#}
    {##}
    {#                            }#}
    {#                        }#}
    {#                    } else {#}
    {#                        for (let attr of array_attrs) {#}
    {#                            for (let data_attr of data) {#}
    {#                                if (attr.attr.pk === data_attr.attr.pk) {#}
    {#                                    for (let attr_val of attr.attr_values) {#}
    {#                                        for (let data_attr_val of data_attr.attr_values) {#}
    {#                                            if (attr_val.pk === data_attr_val.pk) {#}
    {#                                                data_attr_val.is_active = attr_val.is_active;#}
    {##}
    {#                                            }#}
    {#                                        }#}
    {#                                    }#}
    {#                                }#}
    {#                            }#}
    {#                        }#}
    {#                        array_attrs = data;#}
    {#                        let filter = $("#filter");#}
    {#                        filter.html("");#}
    {#                        for (let attr of array_attrs) {#}
    {#                            filter.append(build_filter_attr(attr.attr.name, attr.attr.pk, build_filter_values(attr.attr_values)));#}
    {#                        }#}
    {#                    }#}
    {##}
    {##}
    {#                }#}
    {#            });#}
    {##}
    {##}
    {#        }#}
    {##}
    {#        function get_filtered_products() {#}
    {#            let result;#}
    {#            let values = [];#}
    {#            let attributes = [];#}
    {##}
    {#            for (let attr of array_attrs) {#}
    {#                for (let attr_value of attr.attr_values) {#}
    {#                    if (attr_value.is_active === true) {#}
    {#                        values.push({#}
    {#                            'attr_value_pk': attr_value.pk,#}
    {#                        })#}
    {#                    }#}
    {##}
    {#                }#}
    {#                if (values.length !== 0)#}
    {#                    attributes.push({#}
    {#                        'attr_pk': attr.attr.pk,#}
    {#                        'values': values#}
    {#                    });#}
    {#                values = [];#}
    {#            }#}
    {#            result = {#}
    {#                'csrfmiddlewaretoken': csrf,#}
    {#                'attributes': JSON.stringify(attributes),#}
    {#            };#}
    {##}
    {#            console.log(result);#}
    {#            $.ajax({#}
    {#                type: "POST",#}
    {#                data: result,#}
    {#                dataType: 'json',#}
    {#                url: '{% url 'get_filtered_products_soon_json' %}',#}
    {#                success: function (data) {#}
    {#                    $("#products").html(build_products(data.products));#}
    {#                    array_products = data.products;#}
    {#                    update_attributes();#}
    {#                    console.log('update_attributes()');#}
    {#                }#}
    {#            });#}
    {##}
    {#        }#}
    {##}
    {#        $(document).ready(function () {#}
    {#            update_attributes(true);#}
    {##}
    {#            document.addEventListener('change', function (event) {#}
    {#                if (event.target.getAttribute('class') === 'filter-input-value') {#}
    {#                    let filter_fild = $(event.target);#}
    {#                    let attr_id = filter_fild.data('attr_id');#}
    {#                    let attr_value_id = filter_fild.data('attr_value_id');#}
    {##}
    {#                    for (let attr of array_attrs) {#}
    {#                        if (attr.attr.pk === attr_id) {#}
    {#                            for (let attr_value of attr.attr_values) {#}
    {#                                if (attr_value.pk === attr_value_id) {#}
    {#                                    attr_value.is_active = !!filter_fild.is(':checked');#}
    {#                                }#}
    {#                            }#}
    {#                        }#}
    {#                    }#}
    {##}
    {#                    console.log('get_filtered_products');#}
    {#                    get_filtered_products();#}
    {#                }#}
    {#            });#}
    {#        })#}
    {#    </script>#}
{% endblock %}