{% load i18n %}
<div class="card mb-4 shadow-sm">
    <img class="card-img-top" src="{{ category.data.image }}" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">{{ category.data.name }}</p>
        <div class="btn-group">
            <a href="{{ category.object.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">{% trans "Перейти" %}</a>
        </div>
    </div>
</div>