{% load i18n %}
{% now 'c' as timenow %}
<div class="card product-card mb-4 shadow-sm">
    <img class="card-img-top" src="{{ product.data.image.url }}" alt="">
    <div class="card-body">
        <p class="card-text">{{ product.data.name }}</p>
        <div class="bloc-time-and-price d-flex flex-wrap justify-content-between">
            <div class="card-text cart-price">{{ product.data.current_price }} EUR</div>

            {% if product.data.start_date|date:'c' < timenow and timenow > product.data.end_date|date:'c' %}
                <div class="cart-time">{% trans "Ставки закриті" %}</div>
            {% elif product.data.start_date|date:'c' < timenow %}
                <div class="cart-time">{{ product.data.to_end_date|date:'D:' }}</div>
            {% elif  product.data.start_date|date:'c' > timenow %}
                <div class="cart-time">{{ product.data.to_end_date|safe }}</div>
            {% endif %}
        </div>
        <div class="btn-group">
            <a href="{{ product.object.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">{% trans "Переглянути голуба" %}</a>
        </div>

    </div>
</div>