{% load i18n %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style type="text/css">
        @page {
            size: letter landscape;
            border: 1px solid #999999;
            margin: .4cm;
        }

        @font-face {
            font-family: 'OpenSansRegular';
            src: url({% static 'webfonts/OpenSans-Regular.ttf' %});
        }

        body {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 16px;
        }

        .container {
            padding: .4cm;
        }

        tr, th {
            margin-left: 10px;
            padding: 2px;
          border: 1px solid #6d6d6d;
            text-align: left;
        }

        .table-title {
            background-color: #bababa;
        }
        .table{
            width: 100px;
        }
    </style>
</head>

<body>

<div class="container">

    <div style="font-size: 40px; font-weight: bold;">{{ product.data.name }}</div>
    <img src="{{ product.data.image.url }}" alt=""/>
    {% for image in product.data.additional_images %}
        <div style="">
            <img style="width: 100%;" src="{{ image.image.url }}" alt=""/>
        </div>
    {% endfor %}
    <div style="font-size: 16px;">
        {{ product.data.description|safe }}
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="table-title">{% trans "Назва" %}</th>
                <th scope="col" class="table-title">{% trans "Значення" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for attribute in product.object.get_attributes %}
                <tr>
                    <th scope="row">{{ attribute.name }}</th>
                    <td>{{ attribute.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>