{% extends "wraper.html" %}
{% load static %}
{% load fb_versions %}
{% load products_tags %}
{% load mainapp_tags %}
{% load i18n %}
{% block body %}
    {% tag_get_currency_pln as PLN %}
    <div class="container">
        <div class="row">
            <div class="col-md-7 order-2">
                <h1 class="h2">{{ product.data.name }}</h1>
                <div style="font-size: 16px; font-weight: bold; color: red;">{% trans 'Мінамальна ціна:' %} <span>{{ product.data.min_price }}</span></div>
                <hr>
                {% now 'c' as timenow %}

                {% if product.data.start_date|date:'c' < timenow and timenow > product.data.end_date|date:'c' %}
                    <div class="h2 text-warning">{% trans "Ставки закриті час вийшов" %} <b>{{ product.data.start_date|date:'Y-m-d H:i' }}</b></div>
                    {% tag_get_bet_winner_by_product_pk product.data.pk as bet_winner %}
                    <div class="text-danger font-weight-bold">
                        {% if bet_winner %}{% trans "The winner of the lot:" %} {{ bet_winner.object.user_fk.username }}{% else %}{% trans "No Winner" %}{% endif %}</div>

                    {% if product.data.bets %}
                        <div class="h4">{% trans "Ставки:" %}</div>
                        <div class="bets-all mt-3 mb-3">
                            {% for bet in product.data.bets %}
                                <div class="bet-one {% if forloop.counter|divisibleby:2 %} bet-color-2 {% else %} bet-color-1 {% endif %}">
                                    <div class="bet-name-user">{{ bet.user_fk.username }}</div>
                                    <div class="bet-price">{{ bet.price }} EUR</div>
                                    <div class="bet-date">{{ bet.added_date|date:"Y-m-d H:i:s" }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% elif product.data.start_date|date:'c' < timenow %}
                    <div class="h3">{% trans "Час до закінчення:" %}</div>
                    <div id="clockdiv-{{ product.object.pk }}" class="d-flex flex-row flex-wrap justify-content-around bd-highlight mb-3 countbox">
                        <div class="bd-highlight">
                            <span class="days timer-sek"></span>
                            <div class="text-center">{% trans "Днів" %}</div>
                        </div>
                        <div class="bd-highlight">
                            <span class="hours timer-sek"></span>
                            <div class="text-center">{% trans "Годин" %}</div>
                        </div>
                        <div class="bd-highlight">
                            <span class="minutes timer-sek"></span>
                            <div class="text-center">{% trans "Хвилин" %}</div>
                        </div>
                        <div class="bd-highlight">
                            <span class="seconds timer-sek"></span>
                            <div class="text-center">{% trans "Секунд" %}</div>
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                        <div class="bets mb-2">
                            <label for="bets_input"></label>
                            <div class="d-flex flex-column flex-md-row flex-wrap justify-content-between">
                                <div class="d-flex">
                                    <button class="btn btn-secondary" id="bet_minus">-</button>
                                    <input class="form-control bets-input" id="bets_input" disabled data-product-pk="{{ product.data.pk }}" type="number"
                                           min="{{ product.data.current_price|add:step_bet }}"
                                           value="{{ product.data.current_price|add:step_bet }}" step="{{ step_bet }}">
                                    <button class="btn btn-secondary" id="bet_plus">+</button>
                                </div>
                                <button class="btn btn-secondary mt-4 mt-md-0 float-right" id="bet_add_button" data-href="{% url 'add_bet_json' %}">{% trans "Зробити ставку" %}</button>
                            </div>
                        </div>
                        <div class="price-bet">
                            <div id="price_EUR" class="d-inline-block">{{ product.data.current_price|add:step_bet }}</div>
                            <span> EUR</span>
                            /
                            <div id="price_PLN" class="d-inline-block">{{ PLN.data.price }}</div>
                            <span> PLN</span>
                        </div>

                    {% else %}
                        <div class="mb-5 mt-5 text-danger h5">{% trans "Увійдіть в свій акаунт щоб зробити ставку." %}</div>
                    {% endif %}


                    <div class="h4">{% trans "Ставки:" %}</div>
                    <div class="bets-all mt-3 mb-3">
                        {% if product.data.bets %}
                            {% for bet in product.data.bets %}
                                <div class="bet-one d-flex justify-content-center align-items-center {% if forloop.counter|divisibleby:2 %} bet-color-2 {% else %} bet-color-1 {% endif %}">
                                    <div class="bet-name-user">{{ bet.user_fk.username }}</div>
                                    <div class="bet-price">{{ bet.price }} EUR</div>
                                    <div class="bet-date">{{ bet.added_date|date:"Y-m-d H:i:s" }}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="text-warning h5">{% trans "Ставки відсутні." %}</div>
                        {% endif %}

                    </div>


                {% elif  product.data.start_date|date:'c' > timenow %}
                    <h1>{% trans "Лот стартує о" %} <b>{{ product.data.start_date|date:'Y-m-d H:i' }}</b></h1>
                {% endif %}
            </div>
            <div class="col-md-5 order-1">
                <a data-fancybox="product-images" href="/media/{{ product.data.image }}" data-width="{{ product.data.image.width|filter_image_x2:3 }}">
                    <img class="featurette-image img-fluid mx-auto" alt="{{ product.data.name }}"
                         src="/media/{{ product.data.image }}"
                         data-holder-rendered="true"
                         style="width: 100%; height: 400px; object-fit: contain; object-position: center;">
                </a>
                <div class="row no-gutters">
                    {% for addit_image in product.data.additional_images %}
                        <a class="col-3 p-1 blog-product-image" data-fancybox="product-images" href="/media/{{ addit_image.image }}" data-width="{{ addit_image.image.width|filter_image_x2:3 }}"
                           data-height="{{ addit_image.image.height|filter_image_x2:3 }}"><img class="product-images" src="{% version addit_image.image 'small_100' %}" alt=""></a>
                    {% endfor %}
                </div>

            </div>

        </div>
        <a class="btn PDF float-right" href="{% url 'create_pdf_product' product.object.id %}" download>PDF</a>
        <div class="row pt-5">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab"
                           href="#nav-description"
                           role="tab"
                           aria-controls="nav-description" aria-selected="true">{% trans "Опис" %}</a>
                        <a class="nav-item nav-link {% if not product.object.get_attributes %}d-none{% endif %}"
                           id="nav-attributes-tab" data-toggle="tab" href="#nav-attributes"
                           role="tab"
                           aria-controls="nav-attributes" aria-selected="false">{% trans "Характеристики" %}</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                         aria-labelledby="nav-description-tab">
                        <p class="lead">{{ product.data.description|safe }}</p>
                    </div>
                    <div class="tab-pane fade" id="nav-attributes" role="tabpanel" aria-labelledby="nav-attributes-tab">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{% trans "Назва" %}</th>
                                <th scope="col">{% trans "Значення" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attribute in product.object.get_attributes %}
                                <tr>
                                    <th scope="row">{{ attribute.name }}</th>
                                    <td>{{ attribute.value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        let currencyPLNCoficient = {{ PLN.data.price }};
        let currentPriceEUR = {{ product.data.current_price|add:step_bet }};
        let currentPricePLN = Math.ceil(parseFloat(currentPriceEUR) / parseFloat(currencyPLNCoficient));
        $('#price_EUR').text(currentPriceEUR);
        $('#price_PLN').text(currentPricePLN);


        $('#bet_plus').on('click', (e) => {
            let bets_input = $('#bets_input');
            currentPriceEUR = parseInt(bets_input.val()) + parseInt(bets_input.attr('step'));
            bets_input.val(currentPriceEUR);


            let currentPricePLN = Math.ceil(parseFloat(currentPriceEUR) / parseFloat(currencyPLNCoficient));
            $('#price_EUR').text(currentPriceEUR);
            $('#price_PLN').text(currentPricePLN);
        });
        $('#bet_minus').on('click', (e) => {
            let bets_input = $('#bets_input');
            if (parseInt(bets_input.attr('min')) < parseInt(bets_input.val())) {
                currentPriceEUR = parseInt(bets_input.val()) - parseInt(bets_input.attr('step'));
                bets_input.val(parseInt(bets_input.val()) - parseInt(bets_input.attr('step')))
            }

            let currentPricePLN = Math.ceil(parseFloat(currentPriceEUR) / parseFloat(currencyPLNCoficient));
            $('#price_EUR').text(currentPriceEUR);
            $('#price_PLN').text(currentPricePLN);
        });

        $(document).ready(function () {
            {% if product.data.start_date|date:'c' < timenow and timenow < product.data.end_date|date:'c' %}
                initializeClock('clockdiv-{{ product.object.pk }}', '{{ product.data.end_date|date:'c' }}');
            {% endif %}

            $('[data-fancybox="product-images"]').fancybox({
                buttons: [
                    'slideShow',
                    'share',
                    'zoom',
                    'fullScreen',
                    'close'
                ],
                thumbs: {
                    autoStart: true
                }
            });
        });

        {#$(document).ready(function () { // Ждём загрузки страницы#}
        {#    $(".featurette-image").click(function () {	// Событие клика на маленькое изображение#}
        {#        var img = $(this);	// Получаем изображение, на которое кликнули#}
        {#        var src = img.attr('src'); // Достаем из этого изображения путь до картинки#}
        {#        $("body").append("<div class='popup'><span class='close'>X</span>" + //Добавляем в тело документа разметку всплывающего окна#}
        {#            "<div class='popup_bg'></div>" + // Блок, который будет служить фоном затемненным#}
        {#            "<div class='image-modal'><img src='" + src + "' class='popup_img' /></div>" + // Само увеличенное фото#}
        {#            "</div>");#}
        {#        $(".close").click(function () {	// Событие клика на затемненный фон#}
        {#            setTimeout(function () {	// Выставляем таймер#}
        {#                $(".popup").remove(); // Удаляем разметку всплывающего окна#}
        {#            }, 200);#}
        {#        });#}
        {#        $(".popup_bg").click(function () {	// Событие клика на затемненный фон#}
        {#            setTimeout(function () {	// Выставляем таймер#}
        {#                $(".popup").remove(); // Удаляем разметку всплывающего окна#}
        {#            }, 200);#}
        {#        });#}
        {#    });#}
        {#    $(".image-modal img").click(function () {	// Событие клика на затемненный фон#}
        {#        console.log("asd");#}
        {#        setTimeout(function () {	// Выставляем таймер#}
        {#            $(".popup").remove(); // Удаляем разметку всплывающего окна#}
        {#        }, 200);#}
        {#    });#}
        {#    $(".image-modal ").click(function () {	// Событие клика на затемненный фон#}
        {#        console.log("asd2");#}
        {#        setTimeout(function () {	// Выставляем таймер#}
        {#            $(".popup").remove(); // Удаляем разметку всплывающего окна#}
        {#        }, 200);#}
        {#    });#}
        {##}
        {# }); #}
    </script>
{% endblock %}